.dashboard-container {
    display: flex; /* Cria um contêiner flexível */
    gap: 10px; /* Espaço entre os cards e o gráfico */
    width: 100%;
    align-items: stretch;
    column-gap: 26px;
}
.small-text {
    font-size: 0.8rem; /* Ajuste o valor conforme necessário */
}

.main-cards {
    width: 32%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
    min-height: 100%;
}

.card{
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.card-header {
    display: flex;
    align-items: center;
    width: 35%;
}

.card-header h4 {
    margin-left: 5px;
    font-size: 0.7rem;
    color: #333;

}

.icon {
    width: 18px;
    height: 18px;
}

.card-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.progress-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.progress-bar-container {
    width: 85%; /* Alinhamento à largura do container */
}


.progress-bar-bg {
    width: 100%; /* Largura fixa para o fundo */
    height: 20px; /* Altura da barra */
    background-color: #d3d3d3; /* Cor de fundo da barra */
    border-radius: 5px; /* Bordas arredondadas */
    position: relative;
    overflow: hidden; /* Garante que o preenchimento não transborde */
}

.progress-fill {
    height: 100%; /* Preenche completamente a altura da barra de fundo */
    width: 0; /* Começa sem largura, será ajustada pelo JavaScript */
    transition: width 1.5s ease; /* Animação suave para transições de progresso */
    position: absolute; /* Posicionamento absoluto para sobrepor o fundo */
    top: 0;
    left: 0;
}

.progress-data {
    display: flex;
    text-align: center;
    font-size: 1rem;
    color: #333;
    font-weight: bold;
    padding-left: 5px;
}

.card-info{
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    width: 25%;
}

.info-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
}

.icon-small {
    width: 12px;
    height: 12px;
    margin-right: 8px;
}

.info-item p {
    margin: 0;
    font-size: 0.7em;
    color: #555;
}


.main-grafico{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 10px;
    min-height: 100%;
    min-width: 500px;
    width: 100%;
}
.main-grafico-modal{
    display: block;
    justify-content: center;
    gap: 5px;
    padding-top: 10px;
    min-width: 500px;
    width: 100%;
}

.chart-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dimensions-container{
   width: 100%; 
}

.container-cards.detalhado.dimension-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espaço entre os cards */
    row-gap: 10px;
}

.card.card-detalhe {
    flex: 0 1 calc(18% - 10px); /* 20% para 5 cards por linha, subtraindo o gap */
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    display: block;
}

.card.card-detalhe:hover {
    transform: scale(1.05); /* Efeito de hover */
}

.card-header-detalhe {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Centraliza o conteúdo */
    width: 100%;
}

.card-header-detalhe img.icon {
    margin-right: 8px; /* Espaço entre a imagem e o título */
}
.card-header-detalhe h4 {
    margin: 0;
    font-size: 0.85rem;
    color: #333;
    text-align: center;
}

.card-content-detalhe {
    margin-top: 10px;
    display: flex
}

.progress-bar-container-detalhe {
    width: 90%; /* Largura fixa para o fundo */
    height: 20px; /* Altura da barra */
    background-color: #d3d3d3; /* Cor de fundo da barra */
    border-radius: 5px; /* Bordas arredondadas */
    position: relative;
    overflow: hidden; /* Garante que o preenchimento não transborde */
}

.progress-data-detalhe {
    display: flex;
    text-align: center;
    font-size: 1rem;
    color: #333;
    font-weight: bold;
    padding-left: 5px;
}

.card-info-detalhe {
    margin-top: 10px;
}

.info-item-detalhe {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-item-detalhe p {
    margin: 0;
    font-size: 0.75rem;
    color: #555;
}

.modal {
    display: none; /* Esconde o modal por padrão */
    position: fixed;
    z-index: 1000; /* Fica sobre os outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fundo preto com opacidade */
    background-color: rgba(0,0,0,0.4); /* Cor de fundo com transparência */
}

.modal-content {
    background-color: #fefefe;
    margin-top: 75px;
    margin-left: 100px;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    border-radius: 10px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.card-content-modal {
    display: flex;
    gap: 10px;
    width: 98%;
    align-items: stretch;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Lado esquerdo com os dados */
.card-left-modal {
    width: 32%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
    min-height: 100%;
}

.card-header-modal h4 {
    margin-bottom: 20px;
    
}

.progress-bar-modal{
    display: flex;
}

.progress-bar-container-modal {
    width: 90%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar-bg-modal {
    width: 100%; /* Largura fixa para o fundo */
    height: 20px; /* Altura da barra */
    background-color: #d3d3d3; /* Cor de fundo da barra */
    border-radius: 5px; /* Bordas arredondadas */
    position: relative;
    overflow: hidden; /* Garante que o preenchimento não transborde */
}

.progress-fill-modal {
    height: 100%; /* Preenche completamente a altura da barra de fundo */
    width: 0; /* Começa sem largura, será ajustada pelo JavaScript */
    transition: width 1.5s ease; /* Animação suave para transições de progresso */
    position: absolute; /* Posicionamento absoluto para sobrepor o fundo */
    top: 0;
    left: 0;
}


.progress-data-modal {
    text-align: center;
    font-size: 1rem;
    color: #333;
    font-weight: bold;
    padding-left: 5px;
}

/* Informações adicionais */
.card-info-modal {
    margin-top: 20px;
}

.info-item-modal {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.card-center-modal{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 10px;
    min-height: 200px;
    min-width: 600px;
    width: 100%;
}

.card-right-modal{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 10px;
    min-height: 100%;
    min-width: 600px;
    width: 67%;
}

.chart-container-modal{
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table{
    width: 100%;
    margin: 10px 0px;
    table-layout: fixed;
    word-wrap: break-word;
    white-space: normal;
    margin: 0px 10px; 
}

thead{
    background-color: #e5e5e5;
    border: 1px solid rgba(0, 0, 0, 0.3)
}

thead th {
    text-align: center;
    padding: 10px;
    font-size: 11px;
    letter-spacing: 0.05em;
    border-collapse: collapse;
    word-wrap: initial;
}

table.dataTable tbody tr:hover {
    background-color: #2ab7ca4b; /* Cor de fundo quando a linha está em hover */
    cursor: pointer; /* Muda o cursor para indicar que a linha é interativa */
}

tbody td {
    padding: 5px 10px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    word-wrap: break-word;
    white-space: normal;
}

.top, .bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin:10px
}

