/* Estilos para a barra lateral */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Titillium Web", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.text_sidebar{
    margin: 0;
}

.sidebar {
    width: 50px; /* Largura inicial da barra lateral */
    padding-bottom: 20px;
    background-color: #f0f0f0;
    margin-top: 60px; /* Altura da navbar */
    margin-left: 10px;
    height: 82%; /* Altura da tela menos a altura da navbar */
    left: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 900;
    border-right: 1px solid #ccc;
    transition: width 0.3s ease; /* Transição suave para expandir */
    overflow: hidden; /* Esconde o conteúdo que não cabe */
    border-radius: 10px;
}

.sidebar:hover {
    width: 150px; /* Largura expandida ao passar o mouse */
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    margin: 10px 0;
    width: 100%;
    text-align: right;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar-menu li a {
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center; /* Alinha verticalmente no centro */
    padding: 10px 15px;
    width: 100%;
    transition: background-color 0.3s;   
}

.sidebar-menu li .icon img {
    height: 100%;
    width: 100%;
}

/* Exibe o texto dos links quando a barra é expandida */
.sidebar:hover .sidebar-menu li a .text_sidebar {
    display: inline-block;
    opacity: 1;
    transition: opacity 0.3s;
}


/* Cor de fundo ao passar o mouse sobre o item li */
.sidebar-menu li:hover {
    background-color: #2AB7CA; /* Cor de fundo ao passar o mouse */
}

.sidebar-menu li:hover a {
    color: white; /* Cor do texto ao passar o mouse */
}

.sidebar-menu li:hover .icon img {
    display: block; /* Remove o espaço abaixo da imagem */
    filter: invert(1); /* Inverte as cores da imagem ao passar o mouse */
}

/* Cor de fundo do item ativo */
.sidebar-menu li.active {
    background-color: #2AB7CA; /* Cor de fundo para o item ativo */
}

.sidebar-menu li.active a {
    color: white; /* Cor do texto para o item ativo */
}
.sidebar-menu li.active .icon img {
    display: block; /* Remove o espaço abaixo da imagem */
    filter: invert(1); /* Inverte as cores da imagem ao passar o mouse */
}

.sidebar-menu li a .icon {
    align-items: center;
    margin-right: 5px;
}

.icon {
    width: 18px;
    height: 18px;
}

/* Esconde o texto dos links quando a barra está minimizada */
.sidebar-menu li a .text_sidebar {
    font-size: 14px;
    display: none;
    transition: opacity 0.3s;
}

.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* Oculta o submenu inicialmente */
}

.submenu li {
    padding-left: 20px; /* Indentação para o submenu */
}

.submenu li a {
    font-size: 16px; /* Tamanho de fonte menor para o submenu */
    color: #333;
    padding: 8px 15px;
    display: block;
}

/* Exibir o submenu ao passar o mouse no item principal */
.sidebar-menu li:hover .submenu {
    display: block;
}

/* Estilos opcionais para o item de submenu */
.submenu li:hover {
    background-color: #e0e0e0; /* Cor de fundo ao passar o mouse */
}

/* Estilos para o contêiner principal */
.fundo-container {
    margin-top: 60px; /* Altura da navbar */
    margin-left: 10px; /* Largura da barra lateral */
    padding: 10px;
    background-color: #f0f0f0;
    width: 91%; /* Ajusta para margem e largura da barra lateral */
    height: 82%; /* Ajusta a altura para navbar e outras margens */
    overflow-y: auto; /* Permite rolagem se necessário */
    align-items: flex-start; /* Alinha ao topo */
    border-radius: 10px; 
}

.container {
    padding-right: 20px;
    padding-left: 10px;
    width: 100%; 
    padding-top: 5px; /* Remove padding extra */
    box-sizing: border-box; /* Inclui padding e border no tamanho total */
}

.introbar{
    display: flex;
    width: 100%;
    gap: 10px;
    flex:1;
}

.filtro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    background-color: #f5f5f5;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 50%;
}
.filtro-container-intervalo{
    width: 70%;
}
.filtro-actions{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap:5px
}

.btn-aplicar, .btn-limpar, .btn-time  {
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.btn-aplicar, .btn-time {
    background-color: #2AB7CA;
    color: #fff;
}

.btn-aplicar:hover, .btn-time:hover{
    background-color: #0056b3;
}

.btn-limpar {
    background-color: #c2c2c2;
    color: #333;
}

.btn-limpar:hover {
    background-color: #d9d9d9;
}

.filtro-sugestoes {
    display: flex; /* Alinha os botões em linha */
    gap: 10px; /* Espaçamento entre os botões */
}

.filtro-sugestoes button {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    background-color: #f0f0f0; /* Cor de fundo padrão */
    color: #333; /* Cor do texto padrão */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Suaviza as mudanças */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: auto; /* Adapta a largura ao conteúdo */
}

.filtro-sugestoes button img {
    height: 20px; /* Define a altura do ícone */
    width: auto; /* Proporção do ícone */
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
    transition: filter 0.3s ease; /* Suaviza o efeito do ícone */
}

.filtro-sugestoes button:hover {
    background-color: #2AB7CA; /* Cor de fundo ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
    transform: scale(1.05); /* Leve aumento do botão */
}

.filtro-sugestoes button:hover img {
    filter: invert(1); /* Inverte as cores do ícone ao passar o mouse */
}

.filtro-sugestoes button.active {
    background-color: #2AB7CA; /* Cor de fundo do botão ativo */
    color: white; /* Cor do texto do botão ativo */
}

.filtro-sugestoes button.active img {
    filter: invert(1); /* Inverte as cores do ícone para o botão ativo */
}

.selectize-control.multi .selectize-input {
    background-color: #f9f9f9;       /* Fundo mais claro */
    border: 1px solid #ccc;          /* Borda sutil */
    border-radius: 6px;              /* Bordas arredondadas */
    padding: 8px 12px;               /* Espaço interno maior */
    display: flex;
    align-items: center;             /* Centraliza os itens verticalmente */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    font-family: Arial, sans-serif;  /* Fonte mais legível */
    font-size: 14px;                 /* Tamanho da fonte */
    overflow-y: auto;               /* Adiciona rolagem se necessário */
    display: flex;
    flex-wrap: wrap;                /* Permite quebrar para a próxima linha */
}

.selectize-control.multi .selectize-input input {
    border: none;                    /* Remove a borda do campo de entrada */
    outline: none;                   /* Remove a borda azul ao focar */
    background: transparent;         /* Fundo transparente para combinar com o container */
    font-size: 14px;                 /* Tamanho da fonte */
    padding: 4px;                    /* Espaço interno */
    color: #333;                     /* Cor do texto */
    margin-left: 5px;                /* Espaço entre o texto e os itens selecionados */
}

.selectize-control.multi .selectize-input > div {
    background-color: #2AB7CA;       /* Fundo das tags selecionadas */
    color: #f9f9f9;                     /* Texto branco */
    border-radius: 4px;              /* Bordas arredondadas nas tags */
    padding: 4px 8px;                /* Espaço interno das tags */
    margin: 2px 4px;                 /* Espaço entre as tags */
    font-size: 12px;                 /* Tamanho da fonte das tags */
    display: flex;
    align-items: center;
}


.selectize-control.multi .selectize-input > div .remove {
    color: #f9f9f9;                /* Cor do botão de remoção */
    margin-left: 8px;                /* Espaçamento entre o texto e o "X" */
    cursor: pointer;                 /* Cursor pointer para indicar clicável */
    font-weight: bold;
    transition: color 0.2s ease, transform 0.2s ease; /* Transição suave */
}

.selectize-control.multi .selectize-input > div .remove:hover {
    color: #ff4d4d;                  /* Cor de hover mais clara */
    transform: scale(1.2);           /* Leve aumento ao passar o mouse */
}


/* Estilo para as opções do Selectize */
.selectize-dropdown {
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.selectize-control.multi .selectize-dropdown {
    position: absolute;   /* Define o dropdown como absoluto */
    z-index: 1000;        /* Garante que o dropdown fique sobre outros elementos */
    background: #f9f9f9;     /* Define o fundo do dropdown */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    max-width: 200px;
}

.selectize-control.multi .selectize-dropdown .option {
    padding: 8px;
    cursor: pointer;
}
.selectize-control.multi .selectize-dropdown .option:hover {
    background: #2AB7CA;
    color: #f9f9f9;
}

.spinner {
    position: fixed; /* Alterado para fixed para cobrir toda a tela */
    top: 0;
    left: 0;
    width: 100vw; /* Ocupa toda a largura da tela */
    height: 100vh; /* Ocupa toda a altura da tela */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Certifique-se de que o spinner fique acima dos outros elementos */
    text-align: center;
}

.loader {
    border: 8px solid #f3f3f3; /* Cor de fundo do loader */
    border-top: 8px solid #000; /* Cor da borda de cima */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

.loading-text {
    color: #fff;
    margin-top: 10px;
}

.loading-text::after {
    content: "";
    display: inline-block;
    animation: dotAppear 1.5s steps(3, end) infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Animação para os três pontos */
@keyframes dotAppear {
    0% { content: ""; }
    33% { content: "."; }
    66% { content: ".."; }
    100% { content: "..."; }
}

.config-opcoes{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}