body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Titillium Web", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.background-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px); /* Ajuste o minmax conforme necessário */
    grid-auto-rows: 50px; /* Ajuste conforme necessário */
    z-index: -1; /* Certifique-se de que o container de imagem de fundo está atrás de tudo */
    background-color: #E6E6EA;
}

.background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 100%;
    background-color: #E6E6EA;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar-logo h2 {
    margin: 0;
    color: #2AB7CA;
    font-family: "Exo", sans-serif;
    font-size: 32px;
    margin-right: 20px; /* Espaçamento entre o título e as opções */
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    position: relative; /* Para a linha separadora */
}

.navbar-menu li {
    display: inline;
}

.navbar-menu li a {
    text-decoration: none;
    color: #000000;
    font-family: "Titillium Web", sans-serif;
    font-size: 18px;
    padding-bottom: 5px; /* Espaço para a barra inferior */
    position: relative;
    transition: color 0.3s;
}

.navbar-menu li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #FE4A49;
    transition: width 0.3s;
}

.navbar-menu li a:hover::after,
.navbar-menu li a.active::after {
    width: 100%;
}

.navbar-menu li a:hover {
    color: #000;
}

.container {
    text-align: center;
    border: 1px solid #ccc;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #F4F4F8;
    z-index: 1;
    width: 80%;
    max-width: 800px;  
    min-width: 300px;  
    min-height: 400px;  
}

.panel{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.left-panel {
    flex: 1;
    margin: 10px;
    height: 100%;
}

.right-panel {
    flex: 1;
    margin: 10px;
    height: 100%;
}

.sugestao-lista {
    list-style: none;
    padding: 0;
    
}

.sugestao-lista li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px 10px; /* Ajustado para diminuir o tamanho da caixa */
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sugestao-lista li.selected {
    background-color: #FE4A49;
    color: #fff;
}

.sugestao-lista li a {
    text-decoration: none;
    color: inherit;
    flex-grow: 1;
}

.sugestao-lista li a:hover {
    text-decoration: underline;
}

.sugestao-lista li i {
    margin-right: 10px;
    font-size: 18px; /* Garantir que o tamanho do ícone seja adequado */
}

.text {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0 auto;
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 120px;
    margin-bottom: 20px;
    color: #2AB7CA;
}

h3 {
    margin: 0 auto;
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 48px;
    margin-bottom: 20px;
    color: #2AB7CA;
}

.question {
    font-size: 42px;
    margin-bottom: 30px;
}

form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.slider-container {
    margin-top: 20px;
    position: relative;
}

.slider {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    border-radius: 5px;
    background: linear-gradient(to right, #FE4A49 0%, #FE4A49 40%, #FED766 40%, #FED766 79%, #2AB7CA 79%, #2AB7CA 100%);
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #403D39;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.slider-scale {
    width: 100%;
    display: flex;
    justify-content:space-between;
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
}

.slider-scale span {
    margin-top: 20px;
    font-size: 12px;
}

.suggestion{
    width: 100%;
    height: 270px;
    margin-top: 10px;
    font-size: 18px;
    flex:1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.suggestion-box{
    flex: 1;
    display: flex;
    width: 100%;
    height: 100%;
}

.suggestion.text{
    font-size: 24px;
    margin: 0 auto;
    justify-content: end;
}

.checkbox-container {
    width: 80%;
    margin: 10px 0;
    display: flex;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px; /* Ajuste a margem conforme necessário */
}

.suggestion textarea {
    flex: 1;
    padding: 30px;
    width: 80%; 
    border: 2px solid #000000; 
    border-radius: 5px; 
    font-size: 16px; 
    background-color: #E6E6EA; 
    color: #333; 
    transition: border-color 0.3s ease; 
    box-sizing: border-box;
}

.suggestion textarea:focus {
    border-color: #FE4A49; 
    outline: none; 
}

.question-number {
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}

.buttons {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;  
    margin-top: 10px;
}

.buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #186C77; 
    color: white; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    width: 25%;
}
button[name="abrir_sugestao"] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #186C77; 
    color: white; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    width: 55%;
}
button[name="abrir_sugestao"] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #186C77; 
    color: white; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    width: 55%;
}

.buttons button:hover {
    background-color: #FE4A49; 
}

button[name="anterior"]:hover {
    background-color: #03C956; 
}

button[name="pular"]:hover {
    background-color: #FECB34; 
}

button[name="proxima"]:hover {
    background-color: #03C956; 
}

.buttons button i {
    margin-right: 5px;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    max-width: 300px;
    margin-bottom: 20px;
    border: 2px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
    background-color: #f2f2f2; 
    color: #333; 
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #FE4A49; 
    outline: none; 
}

.alerts{
    display: flex;
    justify-content: center;
}

.alert {
    background-color: #FE4A49;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.alert p {
    margin: 0;
}


.custom-select {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f2f2f2;
    color: #333;
    transition: border-color 0.3s ease;
    margin-bottom: 20px;
    margin: 0 auto; display: block;
    text-align: center;
}

.custom-select:focus {
    border-color: #FE4A49;
    outline: none;
}

.custom-select option {
    padding: 10px;
    background-color: #f2f2f2;
    color: #333;
}