body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Titillium Web", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: auto;
}

h1 {
    margin: 0 auto;
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 42px;
    margin-bottom: 10px;
    color: #000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.background-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px); /* Ajuste o minmax conforme necessário */
    grid-auto-rows: 50px; /* Ajuste conforme necessário */
    z-index: -1; /* Certifique-se de que o container de imagem de fundo está atrás de tudo */
}

.background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.sidebar {
    width: 150px; /* Ajuste conforme necessário */
    height: 100vh;
    background-color: #E6E6EA;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}

.sidebar-logo h2 {
    margin: 0;
    color: #2AB7CA;
    font-family: "Exo", sans-serif;
    font-size: 24px;
    margin-bottom: 20px; /* Espaçamento entre o título e as opções */
}

.sidebar-menu {
    list-style: none;
    display: flex;
    flex-direction: column; /* Organiza os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
    gap: 20px;
    margin: 0;
    padding: 0;
}

.sidebar-menu li {
    width: 100%;
    text-align: center;
}

.sidebar-menu li a {
    text-decoration: none;
    color: #000000;
    font-family: "Titillium Web", sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    display: block; /* Faz o link ocupar toda a área do item da lista */
    position: relative;
    transition: color 0.3s, background-color 0.3s;
}

.sidebar-menu li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #FE4A49;
    transition: width 0.3s;
}

.sidebar-menu li a:hover::after,
.sidebar-menu li a.active::after {
    width: 100%;
}

.sidebar-menu li a:hover {
    color: #ffffff;
    background-color: #FE4A49;
}

.main-content {
    margin-left: 150px; /* Espaço para a barra lateral */
    padding-left: 25px;
    width: 100%; /* Ajuste conforme necessário */
    height: 100vh;
    overflow-y: auto;
    box-sizing: border-box; /* Inclui o padding e o border no cálculo do width e height */
    background-color: #F4F4F8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    min-width: 300px;
    min-height: 400px;
}


.introbar {
    text-align: left;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.introbar h1 {
    margin-bottom: 0;
}

.introbar p {
    margin: 0;
    padding: 0;
}
.introbar-text {
    flex: 1;
    margin: 10px;
    max-width: 50%; /* Ajuste conforme necessário */
}

.introbar h1 {
    margin-bottom: 0;
}

.introbar p {
    margin: 0;
    padding: 0;
}

.introbar-filters {
    margin: 10px;
    max-width: 50%; /* Ajuste conforme necessário */
    display: flex;
    flex-direction: column;
}

.introbar-filters form {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 10px;
}

.introbar-filters label {
    display: block;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.introbar-filters input[type="date"], 
.introbar-filters select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
    min-width: 100px; /* Ajuste conforme necessário */
}

.introbar-filters span {
    align-self: center;
    font-size: 16px;
    color: #666;
}

.introbar-filters button[name="filtrar"] {
    background-color: #023047;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.introbar-filters button:hover {
    background-color: #2AB7CA;
}

.introbar-filters button[name="limpar"] {
    background-color: #a6a6a7;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.introbar-filters button:hover {
    background-color: #2AB7CA;
}

.container {
    display: absolute;
    height: 100%;
}

.container-cards.geral {
    display: flex;
    width: 100%;
}

.card {
    background-color: #F4F4F8;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
}

#card-geral {
    width: 30%;
    align-items: center;
}


#card-grafico {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-cards.detalhado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.container-cards.detalhado h3{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 15px; 
}

.container-cards.detalhado h3 i {
    margin-right: 5px; /* Espaço entre o ícone e o texto */
    color: #333; /* Cor do ícone */
    font-size: 18px; /* Tamanho do ícone */
}

.card-detalhe {
    width: calc(20% - 20px); /* Calcula o width de forma responsiva */
    background-color: #F4F4F8;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
}


.bar-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bar-container h2{
    margin-top: 0;
    margin-bottom: 10px;
}

.bar-container h2 i {
    margin-right: 10px; /* Espaço entre o ícone e o texto */
    color: #333; /* Cor do ícone */
    font-size: 32px; /* Tamanho do ícone */
}

.bar {
    display:flex;
    margin-bottom: 10px;
}
.bar-size {
    display: flex;
    align-items: center;
    background-color: #d9d9db;
    border-color: #0000;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    flex:1;
    margin-right: 30px;
}

.bar-size span{
    margin-left: 15px;
}

.bar-value {
    height: 30px;
    line-height: 30px;
    text-align: right;
    color: white;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* .bar-total {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.info-respostas p {
    font-size: 12px;
}

.buttons {
    background-color: #023047; /* Cor de fundo do botão */
    color: white; /* Cor do texto e ícone */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o ícone e o texto */
    transition: background-color 0.3s;
}

.buttons:hover {
    background-color: #2AB7CA; /* Cor de fundo ao passar o mouse */
}

.details-button i {
    font-size: 18px; /* Tamanho do ícone */
}

.tabela {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
}
table th, table td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #ceced1;
}
table th {
    background-color: #F4F4F8;
    font-weight: 600;
    color: #4A4A4A;
    font-size: 14px;
}
table td {
    font-family: "Titillium Web", sans-serif;
    font-size: 16px;
    color: #4A4A4A;
}
table td input[type="checkbox"] {
    margin: 0 auto;
    display: block;
}
table th:nth-child(3), table td:nth-child(3) {
    width: 50%;
}
table tr:nth-child(even) {
    background-color: #FAFAFA;
}
table tr:hover {
    background-color: #F1F1F1;
    cursor: pointer;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.pergunta {
    background-color: #F4F4F8;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;  /* Adiciona flexbox ao contêiner */
    justify-content: space-between;  /* Espaço entre os elementos */
    align-items: center;  /* Alinha os itens ao centro verticalmente */
}

.pergunta-info {
    width: 50%;
    align-items: center;
    flex: 1;
    display: flex;
    flex-direction: column;  /* Mantém os elementos dentro dessa div em coluna */
}

.pergunta-info h4{
    font-size: 24px;
}

.pergunta-bar {
    display:flex;
    width: 70%;
    margin-bottom: 10px;
}
.pergunta-bar-size {
    display: flex;
    align-items: center;
    background-color: #d9d9db;
    border-color: #0000;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    flex:1;
    margin-right: 30px;
}

.pergunta-bar-size span{
    margin-left: 15px;
}

.pergunta-bar-value {
    height: 30px;
    line-height: 30px;
    text-align: right;
    color: white;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.pergunta-grafico {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.pergunta-grafico canvas {
    height: 250px !important; /* Defina a altura desejada */
    width: 100%; /* Opcional: ajuste a largura para preencher o contêiner */
}