body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6E6EA;
}

.container {
    text-align: center;
    border: 1px solid #ccc;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #F4F4F8;
    width: 80%;
    max-width: 800px;  
    min-width: 300px;  
    min-height: 400px;  
}

.text {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #2AB7CA;
}

.question {
    font-size: 24px;
    margin-bottom: 30px;
}

form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.slider-container {
    margin-top: 20px;
    position: relative;
}

.slider {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    border-radius: 5px;
    background: linear-gradient(to right, #FE4A49 0%, #FE4A49 40%, #FED766 40%, #FED766 79%, #2AB7CA 79%, #2AB7CA 100%);
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #403D39;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.slider-scale {
    width: 100%;
    display: flex;
    justify-content:space-between;
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
}

.slider-scale span {
    margin-top: 20px;
    font-size: 12px;
}

.suggestion{
    margin-top: 10px;
    font-size: 18px;
}

.suggestion.box textarea {
    padding: 10px; 
    width: 100%; 
    max-width: 100%; 
    border: 2px solid #000000; 
    border-radius: 5px; 
    font-size: 16px; 
    background-color: #E6E6EA; 
    color: #333; 
    transition: border-color 0.3s ease; 
}

.suggestion.box textarea:focus {
    border-color: #FE4A49; 
    outline: none; 
}

.question-number {
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}

.buttons {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;  
}

.buttons button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #403D39; 
    color: white; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    width: 40%;
}

.buttons button:hover {
    background-color: #FE4A49; 
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    max-width: 300px;
    margin-bottom: 20px;
    border: 2px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
    background-color: #f2f2f2; 
    color: #333; 
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #FE4A49; 
    outline: none; 
}

.alert {
    background-color: #2AB7CA;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.alert p {
    margin: 0;
}
