<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clima ! - Sugestões</title>
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <h2>Clima !</h2>
        </div>
        <ul class="navbar-menu">
            <li><a href="{{ url_for('entrada') }}">Responder</a></li>
            <li><a href="{{ url_for('inicio_sugestao') }}" class="active">Sugestões</a></li>
        </ul>
    </nav>
    <div class="container">
        <h3>Sugestões</h3>
        <form action="/inicio_sugestao" method="POST"> 
            <div class="panel">
                <div class="left-panel">
                    <h4>Selecione sua área:</h4>
                    <select name="area" id="area" class="custom-select" required>
                        <option value="Adegas">Adegas</option>
                        <option value="Brassagem">Brassagem</option>
                        <option value="Bblend">Bblend</option>
                        <option value="Filtração">Filtração</option>
                        <option value="Engenharia">Engenharia</option>
                        <option value="Linha 501">Linha 501</option>
                        <option value="Linha 502">Linha 502</option>
                        <option value="Linha 503">Linha 503</option>
                        <option value="Linha 511">Linha 511</option>
                        <option value="Linha 512">Linha 512</option>
                        <option value="Linha 561">Linha 561</option>
                        <option value="Linha 562">Linha 561</option>
                        <option value="Linha Two-Pack">Linha Two-Pack</option>
                        <option value="Meio Ambiente">Meio Ambiente</option>
                        <option value="Utilidades">Utilidades</option>
                        <option value="Xaroparia">Xaroparia</option>
                    </select>
                </div>
                    
                
                <div class="right-panel"> 
                    <h4>Desejo me identificar:</h4>
                    <input type="text" name="user_id" id="user_id" placeholder="Digite seu ID, se desejar se identificar"> 
                </div>
            </div>
            <input type="hidden" name="categoria" id="categoria">
            <div class="buttons">
                <button type="submit" name="ir_sugestao">Ir para sugestão</button>
            </div>
        </form>

        <div class="alerts">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='background.js') }}"></script>
</body>
</html>
