<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulsa 7L - Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <img class="logo" src="{{ url_for('static', filename='images/logo_completa.svg') }}">
        </div>
        <ul class="navbar-menu">
            <li><a href="{{ url_for('entrada') }}" >Responder</a></li>
            <li><a href="{{ url_for('sugestao') }}">Sugestões</a></li>
            <li><a href="{{ url_for('login') }}" class="active">Gestor</a></li>
        </ul>
    </nav>
    <form action="{{ url_for('login') }}" method="POST">
        <div class="container">
            <img class="logo" src="{{ url_for('static', filename='images/Gestor.svg') }}">
            <div class="input-group">
                <label for="username">Usuário:</label>
                <input type="text" name="username" id="username" placeholder="Digite seu id..." required>
            </div>
            <div class="input-group">
                <label for="password">Senha:</label>
                <input type="password" name="password" id="password"  placeholder="Digite sua senha..." required>
            </div>
            <div class="buttons">
                <button type="submit" name="login">Login</button>
            </div>
            <div class="alerts">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </form>
    <script src="{{ url_for('static', filename='background.js') }}"></script>
</body>
</html>
