<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clima ! - Perguntas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <h2>Clima !</h2>
        </div>
        <ul class="navbar-menu">
            <li><a href="{{ url_for('entrada') }}" class="active">Responder</a></li>
            <li><a href="{{ url_for('sugestao') }}">Sugestões</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="question">{{ pergunta }}</div>
        <form action="/perguntas" method="POST">
            <div class="slider-container">
                <input type="range" name="resposta" min="0" max="10" step="0.01" value="5" class="slider" id="resposta">
                <div class="slider-scale">
                    {% for i in range(11) %}
                        <span>{{ i }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="suggestion">
                <div class ="suggestion text">
                    <label for="sugestao">Deixe sua sugestão:</label>
                </div>
                <div class="checkbox-container">
                    <input type="checkbox" id="auto_identificacao" name="auto_identificacao" value="auto_identificacao">
                    <label for="auto_identificacao"><i>Desejo me identificar na sugestão</i></label>
                </div>
                <textarea name="sugestao" id="sugestao" placeholder="Digite sua sugestão aqui..."></textarea>
            </div>
            <div class="question-number">Pergunta {{ pergunta_num }} de {{ total_perguntas }}</div>
            <div class="buttons">
                <button type="submit" name="anterior"><i class="fa-solid fa-angle-left"></i> Anterior</button>
                <button type="submit" name="pular"> Pular<i class="fas fa-forward"></i></button>
                <button type="submit" name="proxima"> Próxima<i class="fa-solid fa-angle-right"></i></i></button>
            </div>            
        </form>
        <div class="alerts">
            {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='background.js') }}"></script>
</body>
</html>
