<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulsa 7L - Perguntas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <h2>Pulsa 7L</h2>
        </div>
        <ul class="navbar-menu">
            <li><a href="{{ url_for('entrada') }}" class="active">Responder</a></li>
            <li><a href="{{ url_for('sugestao') }}">Sugestões</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="question">{{ pergunta }}</div>
        <form id="formPerguntas" action="/perguntas" method="POST">
            <div class="slider-container">
                <input type="range" name="resposta" min="0" max="10" step="0.01" value="5" class="slider" id="resposta">
                <div class="slider-scale">
                    {% for i in range(11) %}
                        <span>{{ i }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="suggestion">
                <div class ="suggestion text">
                    <label for="sugestao">Deixe sua sugestão:</label>
                </div>
                <textarea name="sugestao" id="sugestao" placeholder="Digite sua sugestão aqui..."></textarea>
            </div>
            <div class="question-number">Pergunta {{ pergunta_num }} de {{ total_perguntas }}</div>
            <div class="buttons">
                <button type="submit" name="anterior"><img class="imagem" src="{{ url_for('static', filename='images/awesome_fonts/esquerda.svg') }}"> Anterior</button>
                {% if pergunta_num == total_perguntas %}
                    <button type="button" name="pular" onclick="confirmarEnvio()"> Pular e Enviar<img class="imagem" src="{{ url_for('static', filename='images/awesome_fonts/enviar.svg') }}"></button>
                    <button type="button" name="enviar-inicial" onclick="confirmarEnvio()">Responder e Enviar<img class="imagem" src="{{ url_for('static', filename='images/awesome_fonts/enviar.svg') }}"></button>
                {% else %}
                    <button type="submit" name="pular"> Pular<img class="imagem" src="{{ url_for('static', filename='images/awesome_fonts/pular.svg') }}"></i></button>
                    <button type="submit" name="proxima">Próxima<img class="imagem" src="{{ url_for('static', filename='images/awesome_fonts/direita.svg') }}"></i></button>
                {% endif %}
            </div>      
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <h2>Confirmar Envio</h2>
                    <p type="text">Você tem certeza de que deseja enviar suas respostas?</p>
                    <div class="buttons">
                        <button type="button" name="pular-inicial" onclick="fecharModal()">Cancelar</button>
                        <button type="submit" name="pular-final"onclick="enviarFormulario()">Pular e Enviar<img class="imagem" src="{{ url_for('static', filename='images/awesome_fonts/enviar.svg') }}"></i></button>
                        <button type="submit" name="enviar-final"onclick="enviarFormulario()">Responder e Enviar<img class="imagem" src="{{ url_for('static', filename='images/awesome_fonts/enviar.svg') }}"></i></button>
                    </div>
                </div>
            </div>
        </form>
        <div class="alerts">
            {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='background.js') }}"></script>
    <script>
        function confirmarEnvio() {
            var modal = document.getElementById('myModal');
            if (modal) {
                modal.style.display = 'block';
            }
        }

        function fecharModal() {
            var modal = document.getElementById('myModal');
            if (modal) {
                modal.style.display = 'none';
            }
        }

        function enviarFormulario() {
            var form = document.getElementById("formPerguntas");
            if (form) {
                form.submit();
            }
        }
    </script>
</body>
</html>
