<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard - Pulsa 7L</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_dash.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0/build/chartjs-plugin-datalabels.min.js"></script>
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-logo">
            <img class="logo" src="{{ url_for('static', filename='images/logo_completa.svg') }}">
        </div>
        <ul class="sidebar-menu">
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('settings') }}"class="active">Settings</a></li>
            <li><a href="{{ url_for('logout') }}">Sair</a></li>
        </ul>
    </div>
    <div class="main-content">Página ainda em desenvolvimento</div>
</body>