<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulsa Supply</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/main_dash_config.css">
    <link rel="stylesheet" href="/static/css/configuracoes.css">
    <link rel="icon" type="image/x-icon" href="/static/images/logos/fav_logo.png">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <img class="logo" src="/static/images/logos/logo_completa.svg">
        </div>
        <ul class="navbar-menu">
            <li><a href="{{ url_for('pagina_inicial.pagina_inicial_view') }}">Responder</a></li>
            <li><a href="{{ url_for('gestor.gestor_view') }}"class="active">Gestor</a></li>
        </ul>
    </nav>
    <nav class="sidebar">
        <ul class="sidebar-menu">
            <li ><a href="{{ url_for('dashboard.dashboard_view') }}">
                <span class="icon"><img src="/static/images/icons/dashboard.svg" alt="Dashboard Icon"></span>
                <span class="text_sidebar">Dashboard</span>
            </a></li>
            <li class="active"><a href="{{ url_for('configuracoes.configuracoes_view') }}">
                <span class="icon"><img src="/static/images/icons/configuracoes.svg" alt="configuracoes Icon"></span>
                <span class="text_sidebar">Configurações</span>
            </a></li>
            <li><a href="{{ url_for('gestor.gestor_view') }}">
                <span class="icon"><img src="/static/images/icons/logout.svg" alt="logout Icon"></span>
                <span class="text_sidebar">Sair</span>
            </a></li>
        </ul>
    </nav>
    
    <div class="fundo-container">
        <div class="container">
            <div class="bar">
                <div class="bar-options">
                    <div class="bar-options-voltar">
                        <a href="{{ url_for('configuracoes.configuracoes_view') }}">
                            <span class="icon"><img src="/static/images/icons/esquerda.svg" alt="Dashboard Icon"></span>
                        </a>
                    </div>
                    <span><h1>Cadastro/Edição de Usuários</h1></span>
                    <div class="bar-options-cadastrar">
                        <button id="cadastrar_usuario" class="cadastrar_usuario" type="button" onclick="abrirModal()">
                            <img src="/static/images/icons/detalhes.svg" alt="Cadastrar">
                            Cadastrar Novo Usuário
                        </button>
                    </div>
                </div>
            </div>

            <div class="tabela-container">
                <div class="tabela">                
                    <table>
                        <thead>
                            <tr>
                                <th class="tabela-titulo-imagem">
                                    Global Id
                                    <button id="pesquisa_id" class="filtro_tabela">
                                        <img src="/static/images/icons/pesquisa.svg" alt="Filtro">
                                    </button>
                                    <!-- Modal de Filtro -->
                                    <div id="modal_pesquisa" class="modal-tabela" style="display: none;">
                                        <div class="modal_pesquisa_head">
                                            Global Id:
                                            <span class="close" onclick="fecharModal()">&times;</span>
                                        </div>
                                        <div class="modal_pesquisa_input">
                                            <input type="number" id="id_input" placeholder="Digite o ID" required>
                                        </div>
                                        <div class="botao_pesquisa">
                                            <button id="limpar_pesquisa"><a href="{{ url_for('configuracoes_usuario.configuracoes_usuario_view') }}">Limpar</a></button>
                                            <button id="pesquisar_btn">Pesquisar</button>
                                        </div>
                                        
                                    </div>
                                </th>
                                <th>Email</th>
                                <th>Nome</th>
                                <th>Unidade</th>
                                <th>ID Gestor</th> 
                                <th>Editar</th> 
                            </tr>
                        </thead>
                {%if usuarios %}
                        <tbody>
                            {% for usuario in usuarios %}
                            <tr>
                                <td>{{usuario.globalId}}</td>
                                <td>{{usuario.email}}</td>
                                <td>{{usuario.nome}}</td>
                                <td>{{usuario.unidade}}</td>
                                <td>{{usuario.id_gestor}}</td>
                                <td class="align-center">
                                    <button id="editar_usuario" class="editar_usuario" type="button" onclick='abrirModal({{ usuario | tojson }})'>
                                        <img src="/static/images/icons/editar.svg" alt="Editar">
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination-center" id="pagination">
                        {% if pagina > 10 %}
                            {% if modo == 'pesquisa' %}
                                <a href="{{ url_for('configuracoes_usuario.pesquisar_usuario', pagina=pagina-10, globalId=request.args.get('globalId')) }}" id="retorno">
                            {% else %}
                                <a href="{{ url_for('configuracoes_usuario.configuracoes_usuario_view', pagina=pagina-10) }}" id="retorno">
                            {% endif %}
                                <img src="/static/images/icons/retorno.svg" alt="retorno Icon">
                            </a>
                        {% endif %}
                        
                        {% if pagina > 1 %}
                            {% if modo == 'pesquisa' %}
                                <a href="{{ url_for('configuracoes_usuario.pesquisar_usuario', pagina=pagina-1, globalId=request.args.get('globalId')) }}" id="anterior">
                            {% else %}
                                <a href="{{ url_for('configuracoes_usuario.configuracoes_usuario_view', pagina=pagina-1) }}" id="anterior">
                            {% endif %}
                                <img src="/static/images/icons/esquerda.svg" alt="Anterior Icon">
                            </a>
                        {% endif %}
                        
                        <span>Página {{ pagina }} de {{ total_paginas }}</span>
                        
                        {% if pagina < total_paginas %}
                            {% if modo == 'pesquisa' %}
                                <a href="{{ url_for('configuracoes_usuario.pesquisar_usuario', pagina=pagina+1, globalId=request.args.get('globalId')) }}" id="proximo">
                            {% else %}
                                <a href="{{ url_for('configuracoes_usuario.configuracoes_usuario_view', pagina=pagina+1) }}" id="proximo">
                            {% endif %}
                                <img src="/static/images/icons/direita.svg" alt="Próximo Icon">
                            </a>
                        {% endif %}
                        
                        {% if pagina < (total_paginas - 10) %}
                            {% if modo == 'pesquisa' %}
                                <a href="{{ url_for('configuracoes_usuario.pesquisar_usuario', pagina=pagina+10, globalId=request.args.get('globalId')) }}" id="avanco">
                            {% else %}
                                <a href="{{ url_for('configuracoes_usuario.configuracoes_usuario_view', pagina=pagina+10) }}" id="avanco">
                            {% endif %}
                                <img src="/static/images/icons/avanco.svg" alt="avanco Icon">
                            </a>
                        {% endif %}
                    </div>
                    
                {% else %}
                    <p> Não há usuários cadastrados para a unidade</p>
                {% endif %}
                </div>
            </div>
            <div id="usuarioModal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="fecharModal()">&times;</span>
                    <h2>Dados do Usuário</h2>
                    <div class="modal-body">
                        <input type="hidden" id="modal-original-globalId">
                        <div class="form-group">
                            <label for="modal-globalId">Global ID:</label>
                            <input type="number" maxlength="8" id="modal-globalId" required>
                        </div>
                        <div class="form-group">
                            <label for="modal-email">Email:</label>
                            <input type="email" id="modal-email" required>
                        </div>
                        <div class="form-group">
                            <label for="modal-nome">Nome:</label>
                            <input type="text" id="modal-nome" required> 
                        </div>
                        <div class="form-group">
                            <label for="modal-data_nascimento">Data Nascimento:</label>
                            <input type="date" id="modal-data_nascimento" required>
                        </div>
                        <div class="form-group">
                            <label for="modal-data_ultima_movimentacao">Data Última Movimentação:</label>
                            <input type="date" id="modal-data_ultima_movimentacao" required>
                        </div>
                        <div class="form-group">
                            <label for="modal-data_contratacao">Data Contratação:</label>
                            <input type="date" id="modal-data_contratacao" required>
                        </div>
                        <div class="form-group">
                            <label for="modal-banda">Banda:</label>
                            <select id="modal-banda" required> 
                                {% for banda in selecao[0].bandas %}
                                    <option value="{{ banda }}">{{ banda }}</option>
                                {% endfor %}
                            </select>                                    
                        </div>
                        <div class="form-group">
                            <label for="modal-tipo_cargo">Tipo Cargo:</label>
                            <select id="modal-tipo_cargo" required>
                                {% for tipo_cargo in selecao[0].tipo_cargos %}
                                    <option value="{{ tipo_cargo }}">{{ tipo_cargo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="modal-fte">FTE:</label>
                            <select id="modal-fte" required>
                                {% for fte in selecao[0].ftes %}
                                    <option value="{{ fte }}">{{ fte }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="modal-cargo">Cargo:</label>
                            <select id="modal-cargo" required>
                                {% for cargo in selecao[0].cargos %}
                                    <option value="{{ cargo }}">{{ cargo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="modal-unidade">Unidade:</label>
                            <select id="modal-unidade" required>
                                {% for unidade in selecao[0].unidades %}
                                    <option value="{{ unidade }}">{{ unidade }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="modal-area">Área:</label>
                            <select id="modal-area" required>
                                {% for area in selecao[0].areas %}
                                    <option value="{{ area }}">{{ area }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="modal-subarea">Subárea:</label>
                            <select id="modal-subarea" required>
                                {% for subarea in selecao[0].subareas %}
                                    <option value="{{ subarea }}">{{ subarea }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="modal-id_gestor">ID Gestor:</label>
                            <input type="text" id="modal-id_gestor" required>
                        </div>
                        <div class="form-group">
                            <label for="modal-genero">Gênero:</label>
                            <select id="modal-genero" required>
                                {% for genero in selecao[0].generos %}
                                    <option value="{{ genero }}">{{ genero }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                    </div>
                    <div class="buttons">
                        <button type ="submit" id="modal-save-button">Salvar Alterações</button>
                    </div>
                    <div class="alerts">
                        <!-- As mensagens de alerta aparecerão aqui -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/background.js"></script>
    <script src="/static/js/modal_pesquisa_usuario.js"></script>
    <script>
        function formatarData(data) {
            const dataObj = new Date(data);
            const ano = dataObj.getFullYear();
            const mes = String(dataObj.getMonth() + 1).padStart(2, '0');
            const dia = String(dataObj.getDate()).padStart(2, '0');
            return `${ano}-${mes}-${dia}`;
        }
    
        function abrirModal(usuario) {
            const saveButton = document.getElementById('modal-save-button');
            
            let tipo;
    
            if (usuario) {
                saveButton.textContent = 'Salvar Alterações';
                preencherCamposModal(usuario);
                tipo = 'edicao';
                document.getElementById('modal-original-globalId').value = usuario.globalId;
            } else {
                saveButton.textContent = 'Criar Usuário';
                limparCamposModal();
                tipo = 'criacao';
                document.getElementById('modal-original-globalId').value = '';
            }
    
            // Exibir o modal
            document.getElementById('usuarioModal').style.display = 'block';
    
            // Atualizar o evento do botão salvar
            saveButton.removeEventListener('click', salvarAlteracoesHandler);
            saveButton.addEventListener('click', salvarAlteracoesHandler);
    
            function salvarAlteracoesHandler() {
                salvarAlteracoes(tipo);
            }
        }
    
        function fecharModal() {
            document.getElementById('usuarioModal').style.display = 'none';
            const paginaAtual = {{pagina}} || 1;

            // Limpar os alertas ao fechar o modal
            const alertsDiv = document.querySelector('.alerts');
            alertsDiv.innerHTML = '';
            window.location.href = `/configuracoes_usuario?pagina=${paginaAtual}`
        }
    
        function preencherCamposModal(usuario) {
            document.getElementById('modal-globalId').value = usuario.globalId;
            document.getElementById('modal-email').value = usuario.email;
            document.getElementById('modal-nome').value = usuario.nome;
            document.getElementById('modal-data_nascimento').value = usuario.data_nascimento;
            document.getElementById('modal-data_ultima_movimentacao').value = usuario.data_ultima_movimentacao;
            document.getElementById('modal-data_contratacao').value = usuario.data_contratacao;
            document.getElementById('modal-banda').value = usuario.banda;
            document.getElementById('modal-tipo_cargo').value = usuario.tipo_cargo;
            document.getElementById('modal-fte').value = usuario.fte;
            document.getElementById('modal-cargo').value = usuario.cargo;
            document.getElementById('modal-unidade').value = usuario.unidade;
            document.getElementById('modal-area').value = usuario.area;
            document.getElementById('modal-subarea').value = usuario.subarea;
            document.getElementById('modal-id_gestor').value = usuario.id_gestor;
            document.getElementById('modal-genero').value = usuario.genero;
        }
    
        function limparCamposModal() {
            document.getElementById('modal-globalId').value = '';
            document.getElementById('modal-email').value = '';
            document.getElementById('modal-nome').value = '';
            document.getElementById('modal-data_nascimento').value = '';
            document.getElementById('modal-data_ultima_movimentacao').value = '';
            document.getElementById('modal-data_contratacao').value = '';
            document.getElementById('modal-banda').value = '';
            document.getElementById('modal-tipo_cargo').value = '';
            document.getElementById('modal-fte').value = '';
            document.getElementById('modal-cargo').value = '';
            document.getElementById('modal-unidade').value = '';
            document.getElementById('modal-area').value = '';
            document.getElementById('modal-subarea').value = '';
            document.getElementById('modal-id_gestor').value = '';
            document.getElementById('modal-genero').value = '';
        }
    
        function salvarAlteracoes(tipo) {
            const globalIdOriginal = document.getElementById('modal-original-globalId').value;
            const paginaAtual = {{pagina}} || 1;
            const dados = {
                tipo,
                globalIdOriginal,
                globalId: document.getElementById('modal-globalId').value,
                email: document.getElementById('modal-email').value,
                nome: document.getElementById('modal-nome').value,
                data_nascimento: document.getElementById('modal-data_nascimento').value,
                data_ultima_movimentacao: document.getElementById('modal-data_ultima_movimentacao').value,
                data_contratacao: document.getElementById('modal-data_contratacao').value,
                banda: document.getElementById('modal-banda').value,
                tipo_cargo: document.getElementById('modal-tipo_cargo').value,
                fte: document.getElementById('modal-fte').value,
                cargo: document.getElementById('modal-cargo').value,
                unidade: document.getElementById('modal-unidade').value,
                area: document.getElementById('modal-area').value,
                subarea: document.getElementById('modal-subarea').value,
                id_gestor: document.getElementById('modal-id_gestor').value,
                genero: document.getElementById('modal-genero').value
            };
    
            fetch('/salvar_alteracoes', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dados)
            })
            .then(response => response.json())
            .then(data => {
                // Atualize a div de alertas com a mensagem recebida
                const alertsDiv = document.querySelector('.alerts');
                alertsDiv.innerHTML = `<div class="alert alert-${data.status}">${data.message}</div>`;

                if (data.status === 'success') {
                    // Fechar o modal após exibir a mensagem de sucesso por 1 segundo
                    setTimeout(() => {
                        fecharModal();
                        // Recarregar a página após fechar o modal
                        window.location.href = `/configuracoes_usuario?pagina=${paginaAtual}`;
                    }, 1000); // Espera de 1 segundo
                }
            })
            .catch(error => {
                console.error('Erro:', error);
            });
        }
    </script>
</body>
</html>
