<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulsa Supply</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/main_dash_config.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/configuracoes.css">
    <link rel="icon" type="image/x-icon" href="/static/images/logos/fav_logo.png">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <img class="logo" src="/static/images/logos/logo_completa.svg">
        </div>
        <ul class="navbar-menu">
            <li><a href="{{ url_for('pagina_inicial.pagina_inicial_view', lang=session.get('lang', 'pt')) }}">{{_("Responder")}}</a></li>
            <li><a href="{{ url_for('gestor.gestor_view', lang=session.get('lang', 'pt')) }}"class="active">{{_("Gestor")}}</a></li>
        </ul>
        <div class="navbar-lang">
            <form method="GET" action="{{ url_for('configuracoes_usuario.configuracoes_usuario_view', lang=session.get('lang', 'pt')) }}">
                <div class="dropdown">
                    <label for="lang">{{_("Idioma:")}}</label>
                    <button class="dropdown-btn">
                        <img src="/static/images/flags/{{ session.get('lang', 'pt') }}.png" alt="Idioma Selecionado" class="selected-flag">
                    </button>
                    <div class="dropdown-content">
                        <button type="submit" class="lang-option" name="lang" value="pt">
                            <img src="/static/images/flags/pt.png" alt="Português">
                        </button>
                        <button type="submit" class="lang-option" name="lang" value="es">
                            <img src="/static/images/flags/es.png" alt="Español">
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <nav class="sidebar">
        <ul class="sidebar-menu">
            <li><a href="{{ url_for('dashboard.dashboard_view', lang=session.get('lang', 'pt')) }}">
                <span class="icon"><img src="/static/images/icons/time.svg" alt="Dashboard Icon"></span>
                <span class="text_sidebar">{{_("Time")}}</span>
            </a></li>
            <li><a href="{{ url_for('dashboard_area.dashboard_area_view', lang=session.get('lang', 'pt')) }}">
                <span class="icon"><img src="/static/images/icons/area.svg" alt="Dashboard Icon"></span>
                <span class="text_sidebar">{{_("Área")}}</span>
            </a></li>
            <li><a href="{{ url_for('dashboard_lideres.dashboard_lideres_view', lang=session.get('lang', 'pt')) }}">
                <span class="icon"><img src="/static/images/icons/lideranca.svg" alt="Sugestoes Icon"></span>
                <span class="text_sidebar">{{_("Líderes")}}</span>
            </a></li>
            <li><a href="{{ url_for('dashboard_sugestoes.dashboard_sugestoes_view', lang=session.get('lang', 'pt')) }}">
                <span class="icon"><img src="/static/images/icons/sugestoes.svg" alt="Sugestoes Icon"></span>
                <span class="text_sidebar">{{_("Sugestões")}}</span>
            </a></li>
            {% if perfil == 'administrador' %}
                <li class="active"><a href="{{ url_for('configuracoes.configuracoes_view', lang=session.get('lang', 'pt')) }}">
                    <span class="icon"><img src="/static/images/icons/configuracoes.svg" alt="configuracoes Icon"></span>
                    <span class="text_sidebar">{{_("Configurações")}}</span>
                </a></li>
            {% endif %}
                <li><a href="{{ url_for('gestor.gestor_view', lang=session.get('lang', 'pt')) }}">
                    <span class="icon"><img src="/static/images/icons/logout.svg" alt="logout Icon"></span>
                    <span class="text_sidebar">{{_("Sair")}}</span>
                </a></li>
        </ul>
    </nav>
    
    <div class="fundo-container">
        <div class="container">
            <div class="bar">
                <div class="bar-options">
                    <div class="bar-options-voltar">
                        <a href="{{ url_for('configuracoes.configuracoes_view') }}">
                            <span class="icon"><img src="/static/images/icons/esquerda.svg" alt="Dashboard Icon"></span>
                        </a>
                    </div>
                    <span><h1>{{_("Cadastro/Edição de Gestores")}}</h1></span>
                    <div class="bar-options-cadastrar">
                        <button id="cadastrar_usuario" class="cadastrar_usuario" type="button" onclick="abrirModal()">
                            <img src="/static/images/icons/detalhes.svg" alt="Cadastrar">
                            {{_("Cadastrar Novo Gestor")}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="tabela-configuracoes-container">
                <div class="tabela-configuracoes">
                    <table>
                        <thead>
                            <tr>
                                <th class="tabela-configuracoes-titulo-imagem">
                                    {{_("Global Id")}}
                                    <button id="pesquisa_id" class="filtro_tabela">
                                        <img src="/static/images/icons/pesquisa.svg" alt="Filtro">
                                    </button>
                                    <!-- Modal de Filtro -->
                                    <div id="modal_pesquisa" class="modal-tabela" style="display: none;">
                                        <div class="modal_pesquisa_head">
                                            {{_("Global Id:")}}
                                            <span class="close" onclick="fecharModal()">&times;</span>
                                        </div>
                                        <div class="modal_pesquisa_input">
                                            <input type="number" id="id_input" placeholder="Digite o ID" required>
                                        </div>
                                        <div class="botao_pesquisa">
                                            <button id="limpar_pesquisa"><a href="{{ url_for('configuracoes_gestor.configuracoes_gestor_view') }}">{{_("Limpar")}}</a></button>
                                            <button id="pesquisar_btn">{{_("Pesquisar")}}</button>
                                        </div>
                                        
                                        
                                    </div>
                                </th>
                                <th>{{_("Nome")}}</th>
                                <th>{{_("Redefinir Senha")}}</th>
                                <th>{{_("Editar")}}</th> 
                            </tr>
                        </thead>
                {%if gestores %}
                        <tbody>
                            {% for gestor in gestores %}
                            <tr>
                                <td>{{gestor.globalId}}</td>
                                <td>{{gestor.nome}}</td>
                                <td class="align-center">
                                    <button id="redefinir senha" class="editar_usuario" type="button" onclick='resetSenha({{gestor.globalId}})'>
                                        <img src="/static/images/icons/redefinir_senha.svg" alt="Editar">
                                    </button>
                                </td>
                                <td class="align-center">
                                    <button id="editar_usuario" class="editar_usuario" type="button" onclick='abrirModal({{ gestor | tojson }})'>
                                        <img src="/static/images/icons/editar.svg" alt="Editar">
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination-center" id="pagination">
                        {% if pagina > 10 %}
                            {% if modo == 'pesquisa' %}
                                <a href="{{ url_for('configuracoes_gestor.pesquisar_gestor', pagina=pagina-10, globalId=request.args.get('globalId')) }}" id="retorno">
                            {% else %}
                                <a href="{{ url_for('configuracoes_gestor.configuracoes_gestor_view', pagina=pagina-10) }}" id="retorno">
                            {% endif %}
                                <img src="/static/images/icons/retorno.svg" alt="retorno Icon">
                            </a>
                        {% endif %}
                        
                        {% if pagina > 1 %}
                            {% if modo == 'pesquisa' %}
                                <a href="{{ url_for('configuracoes_gestor.pesquisar_gestor', pagina=pagina-1, globalId=request.args.get('globalId')) }}" id="anterior">
                            {% else %}
                                <a href="{{ url_for('configuracoes_gestor.configuracoes_gestor_view', pagina=pagina-1) }}" id="anterior">
                            {% endif %}
                                <img src="/static/images/icons/esquerda.svg" alt="Anterior Icon">
                            </a>
                        {% endif %}
                        
                        <span>{{_("Página")}} {{ pagina }} {{_("de")}} {{ total_paginas }}</span>
                        
                        {% if pagina < total_paginas %}
                            {% if modo == 'pesquisa' %}
                                <a href="{{ url_for('configuracoes_gestor.pesquisar_gestor', pagina=pagina+1, globalId=request.args.get('globalId')) }}" id="proximo">
                            {% else %}
                                <a href="{{ url_for('configuracoes_gestor.configuracoes_gestor_view', pagina=pagina+1) }}" id="proximo">
                            {% endif %}
                                <img src="/static/images/icons/direita.svg" alt="Próximo Icon">
                            </a>
                        {% endif %}
                        
                        {% if pagina < (total_paginas - 10) %}
                            {% if modo == 'pesquisa' %}
                                <a href="{{ url_for('configuracoes_gestor.pesquisar_gestor', pagina=pagina+10, globalId=request.args.get('globalId')) }}" id="avanco">
                            {% else %}
                                <a href="{{ url_for('configuracoes_gestor.configuracoes_gestor_view', pagina=pagina+10) }}" id="avanco">
                            {% endif %}
                                <img src="/static/images/icons/avanco.svg" alt="avanco Icon">
                            </a>
                        {% endif %}
                    </div>             
                {% else %}
                    <p> {{_("Não há usuários cadastrados para a unidade")}}</p>
                {% endif %}
                </div>
            </div>
            <div id="usuarioModal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="fecharModal()">&times;</span>
                    <h2>{{_("Dados do Gestor:")}}</h2>
                    <div class="modal-body">
                        <input type="hidden" id="modal-original-globalId">
                        <div class="form-group">
                            <label for="modal-globalId">{{_("Global ID:")}}</label>
                            <input type="number" maxlength="8" id="modal-globalId" required>
                        </div>
                        <div class="form-group">
                            <label for="modal-nome">{{_("Nome:")}}</label>
                            <input type="text" id="modal-nome" required> 
                        </div>
                        <div class="form-group">
                            <label for="modal-perfil">{{_("Perfil:")}}</label>
                            <select id="modal-perfil" required> 
                                {% for perfil in selecao.perfis %}
                                    <option value="{{ perfil }}">{{ perfil }}</option>
                                {% endfor %}
                            </select>                                    
                        </div>
                    </div>
                    <div class="buttons">
                        <button type ="submit" id="modal-save-button">{{_("Salvar Alterações")}}</button>
                    </div>
                    <div class="alerts">
                        <!-- As mensagens de alerta aparecerão aqui -->
                    </div>
                </div>
            </div>
            <div id="modalRedefinir" class="modal">
                <div class="modal-content">
                    <h2>{{_("Redinifir senha")}}</h2>
                    <p>{{_("A senha do gestor será resetada para a senha padrão. Você tem certeza?")}}</p>
                    <div class="buttons-modal">
                        <button type="button" name="cancela" onclick="fecharReset()">{{_("Cancelar")}}</button>
                        <button type="submit" class="confirma" onclick="confirmaReset()">{{_("Confirmar")}}</button>
                    </div>
                    <div class="alerts-redefinir">
                        <!-- As mensagens de alerta aparecerão aqui -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/background.js"></script>
    <script src="/static/js/modal_pesquisa_gestor.js"></script>
    <script> //Modal de edição do gestor
        function abrirModal(gestor) {
            
            const saveButton = document.getElementById('modal-save-button');
            
            let tipo;
    
            if (gestor) {
                
                saveButton.textContent = 'Salvar Alterações';
                preencherCamposModal(gestor);
                tipo = 'edicao';
                document.getElementById('modal-original-globalId').value = gestor.globalId;
            } else {
                saveButton.textContent = 'Criar Usuário';
                limparCamposModal();
                tipo = 'criacao';
                document.getElementById('modal-original-globalId').value = '';
            }
    
            // Exibir o modal
            document.getElementById('usuarioModal').style.display = 'block';
    
            // Atualizar o evento do botão salvar
            saveButton.removeEventListener('click', salvarAlteracoesHandler);
            saveButton.addEventListener('click', salvarAlteracoesHandler);
    
            function salvarAlteracoesHandler() {
                salvarAlteracoes(tipo);
            }
        }
    
        function fecharModal() {
            document.getElementById('usuarioModal').style.display = 'none';
            const paginaAtual = {{pagina}} || 1;

            // Limpar os alertas ao fechar o modal
            var alertsDiv = document.querySelector('.alerts');
            alertsDiv.innerHTML = '';
            window.location.href = `/configuracoes_gestor?pagina=${paginaAtual}`
        }
    
        function preencherCamposModal(gestor) {
            document.getElementById('modal-globalId').value = gestor.globalId;
            document.getElementById('modal-nome').value = gestor.nome;
            document.getElementById('modal-perfil').value = gestor.perfil;
        }
    
        function limparCamposModal() {
            document.getElementById('modal-globalId').value = '';
            document.getElementById('modal-nome').value = '';
            document.getElementById('modal-perfil').value = '';
        }
    
        function salvarAlteracoes(tipo) {
            const globalIdOriginal = document.getElementById('modal-original-globalId').value;
            const paginaAtual = {{pagina}} || 1;
            const dados = {
                tipo,
                globalIdOriginal,
                globalId: document.getElementById('modal-globalId').value,
                nome: document.getElementById('modal-nome').value,
                perfil: document.getElementById('modal-perfil').value
            };
    
            fetch('/salvar_alteracoes_gestor', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dados)
            })
            .then(response => response.json())
            .then(data => {
                // Atualize a div de alertas com a mensagem recebida
                var alertsDiv = document.querySelector('.alerts');
                alertsDiv.innerHTML = `<div class="alert alert-${data.status}">${data.message}</div>`;

                if (data.status === 'success') {
                    // Fechar o modal após exibir a mensagem de sucesso por 1 segundo
                    setTimeout(() => {
                        fecharModal();
                        // Recarregar a página após fechar o modal
                        window.location.href = `/configuracoes_gestor?pagina=${paginaAtual}`;
                    }, 1000); // Espera de 1 segundo
                }
            })
            .catch(error => {
                console.error('Erro:', error);
            });
        }
    </script>
    <script> //Modal reset senha
    let currentGlobalId = null;

    function resetSenha(globalId) {
        currentGlobalId = globalId;  // Armazena o globalId em uma variável global
        var modal = document.getElementById('modalRedefinir');
        if (modal) {
            modal.style.display = 'block';
        }
    }

    function fecharReset() {
            document.getElementById('modalRedefinir').style.display = 'none';
            const paginaAtual = {{pagina}} || 1;

            // Limpar os alertas ao fechar o modal
            const alertsDivRedefinir = document.querySelector('.alerts-redefinir');
            alertsDivRedefinir.innerHTML = '';
            window.location.href = `/configuracoes_gestor?pagina=${paginaAtual}`
        }

    function confirmaReset() {
        const paginaAtual = {{pagina}} || 1;
        if (!currentGlobalId) {
            console.error('GlobalId não definido!');
            return;
        }

        fetch('/reset_senha_gestor', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ globalId: currentGlobalId })  // Use o globalId armazenado
        })
        .then(response => response.json())
        .then(data => {
            const alertsDivRedefinir = document.querySelector('.alerts-redefinir');
        
            if (alertsDivRedefinir) {
                alertsDivRedefinir.innerHTML = `<div class="alert alert-${data.status}">${data.message}</div>`;
            } else {
                console.error('Div de alertas não encontrada!');
            }

            if (data.status === 'success') {
                setTimeout(() => {
                    fecharReset();
                    window.location.href = `/configuracoes_gestor?pagina=${paginaAtual}`;
                }, 1000);
            }
        })
        .catch(error => {
            console.error('Erro:', error);
        });
    }

    </script>
</body>
</html>
