<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulsa Supply</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/main_dash_config.css">
    <link rel="stylesheet" href="/static/css/configuracoes.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="icon" type="image/x-icon" href="/static/images/logos/fav_logo.png">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <img class="logo" src="/static/images/logos/logo_completa.svg">
        </div>
        <ul class="navbar-menu">
            <li><a href="{{ url_for('pagina_inicial.pagina_inicial_view', lang=session.get('lang', 'pt')) }}">{{_("Responder")}}</a></li>
            <li><a href="{{ url_for('gestor.gestor_view', lang=session.get('lang', 'pt')) }}"class="active">{{_("Gestor")}}</a></li>
        </ul>
        <div class="navbar-lang">
            <form method="GET" action="{{ url_for('configuracoes_pesquisa.configuracoes_pesquisa_view', lang=session.get('lang', 'pt')) }}">
                <div class="dropdown">
                    <label for="lang">{{_("Idioma:")}}</label>
                    <button class="dropdown-btn">
                        <img src="/static/images/flags/{{ session.get('lang', 'pt') }}.png" alt="Idioma Selecionado" class="selected-flag">
                    </button>
                    <div class="dropdown-content">
                        <button type="submit" class="lang-option" name="lang" value="pt">
                            <img src="/static/images/flags/pt.png" alt="Português">
                        </button>
                        <button type="submit" class="lang-option" name="lang" value="es">
                            <img src="/static/images/flags/es.png" alt="Español">
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <nav class="sidebar">
        <ul class="sidebar-menu">
            <li><a href="{{ url_for('dashboard.dashboard_view', lang=session.get('lang', 'pt')) }}">
                <span class="icon"><img src="/static/images/icons/time.svg" alt="Dashboard Icon"></span>
                <span class="text_sidebar">{{_("Time")}}</span>
            </a></li>
            <li><a href="{{ url_for('dashboard_area.dashboard_area_view', lang=session.get('lang', 'pt')) }}">
                <span class="icon"><img src="/static/images/icons/area.svg" alt="Dashboard Icon"></span>
                <span class="text_sidebar">{{_("Área")}}</span>
            </a></li>
            <li><a href="{{ url_for('dashboard_lideres.dashboard_lideres_view', lang=session.get('lang', 'pt')) }}">
                <span class="icon"><img src="/static/images/icons/lideranca.svg" alt="Sugestoes Icon"></span>
                <span class="text_sidebar">{{_("Líderes")}}</span>
            </a></li>
            <li><a href="{{ url_for('dashboard_sugestoes.dashboard_sugestoes_view', lang=session.get('lang', 'pt')) }}">
                <span class="icon"><img src="/static/images/icons/sugestoes.svg" alt="Sugestoes Icon"></span>
                <span class="text_sidebar">{{_("Sugestões")}}</span>
            </a></li>
            {% if perfil == 'administrador' or perfil == 'administrador_geral' %}
                <li class="active"><a href="{{ url_for('configuracoes.configuracoes_view', lang=session.get('lang', 'pt')) }}">
                    <span class="icon"><img src="/static/images/icons/configuracoes.svg" alt="configuracoes Icon"></span>
                    <span class="text_sidebar">{{_("Configurações")}}</span>
                </a></li>
            {% endif %}
                <li><a href="{{ url_for('gestor.gestor_view', lang=session.get('lang', 'pt')) }}">
                    <span class="icon"><img src="/static/images/icons/logout.svg" alt="logout Icon"></span>
                    <span class="text_sidebar">{{_("Sair")}}</span>
                </a></li>
        </ul>
    </nav>
    
    <div class="fundo-container">
        <div class="container">
            <div class="bar">
                <div class="bar-options">
                    <div class="bar-options-voltar">
                        <a href="{{ url_for('configuracoes.configuracoes_view', lang=session.get('lang', 'pt')) }}">
                            <span class="icon"><img src="/static/images/icons/esquerda.svg" alt="Dashboard Icon"></span>
                        </a>
                    </div>
                    <span><h1>{{_("Configurar Pesquisa")}}</h1></span>
                    <div class="bar-options-cadastrar">
                    </div>
                </div>
            </div>
            <div class="configuracoes-options">
                <div class="configuracao_card qtd_perguntas">
                    <div class="configuracao_card_texto">
                        <h2>{{_("Quantidade de Perguntas - Pulso:")}}</h2>
                        <p>{{_("A quantidade de perguntas atual de um Pulso é de ")}} {{ qtd_perguntas.pulso }} {{_(" perguntas por pulso")}}</p>
                    </div>
                    <button id="alterar_qtd_perguntas" class="cadastrar_usuario" type="button" onclick="abrirModal('modalQtdPerguntas', 'alterarQtdPerguntas')">
                        <img src="/static/images/icons/detalhes.svg" alt="alterar">
                        {{_("Alterar Quantidade")}}
                    </button>
                </div>
            <div id="modalQtdPerguntas" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="fecharModal('modalQtdPerguntas')">&times;</span>
                    <h2>{{_("Alterar Quantidade de Perguntas")}}</h2>
                    <form id="formQtdPerguntas" method="POST" action="{{ url_for('configuracoes_pesquisa.configuracoes_pesquisa_view') }}">
                        <input type="hidden" name="action" value="alterarQtdPerguntas">
                        <label for="qtdPerguntas">{{_("Digite a nova quantidade de perguntas:")}}</label>
                        <input type="number" id="qtdPerguntas" name="qtdPerguntas" min="10" required>
                        <div class="buttons">
                            <button type="submit" id="modal-save-button" data-action="alterarQtdPerguntas">{{_("Salvar Alterações")}}</button>
                        </div>
                    </form>
                    <div class="alerts">
                        <!-- As mensagens de alerta aparecerão aqui -->
                    </div>
                </div>
            </div>            
            <div id="modalMegaPulso" class="modal"> 
                <div class="modal-content">
                    <span class="close" onclick="fecharModal('modalQtdPerguntas')">&times;</span> 
                    <div class="buttons"> 
                        <button type ="submit" id="modal-save-button">{{_("Salvar Alterações")}}</button> 
                    </div> 
                    <div class="alerts">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}">{{ _(message) | safe }}</div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <script src="/static/js/background.js"></script>
    <script>
        function abrirModal(modalId, action) {
            var modal = document.getElementById(modalId);
            if (modal) {
                var saveButton = modal.querySelector('#modal-save-button');
                if (saveButton) {
                    saveButton.setAttribute('data-action', action);
                }
                modal.style.display = "block";
            }
        }

        function fecharModal(modalId) {
            var modal = document.getElementById(modalId);
            if (modal) {
                modal.style.display = "none";
            }
        }

        // Fecha o modal quando o usuário clica fora do conteúdo do modal
        window.onclick = function(event) {
            var modals = document.getElementsByClassName("modal");
            for (var i = 0; i < modals.length; i++) {
                if (event.target == modals[i]) {
                    modals[i].style.display = "none";
                }
            }
        }
    </script>
</body>
</html>
