<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulsa 7L</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/main_dash_config.css">
    <link rel="stylesheet" href="/static/css/configuracoes.css">
    <link rel="icon" type="image/x-icon" href="/static/images/logos/fav_logo.png">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <img class="logo" src="/static/images/logos/logo_completa.svg">
        </div>
        <ul class="navbar-menu">
            <li><a href="{{ url_for('pagina_inicial.pagina_inicial_view') }}">Responder</a></li>
            <li><a href="{{ url_for('gestor.gestor_view') }}"class="active">Gestor</a></li>
        </ul>
    </nav>
    <nav class="sidebar">
        <ul class="sidebar-menu">
            <li ><a href="{{ url_for('dashboard.dashboard_view') }}">
                <span class="icon"><img src="/static/images/icons/dashboard.svg" alt="Dashboard Icon"></span>
                <span class="text_sidebar">Dashboard</span>
            </a></li>
            <li class="active"><a href="{{ url_for('configuracoes.configuracoes_view') }}">
                <span class="icon"><img src="/static/images/icons/configuracoes.svg" alt="configuracoes Icon"></span>
                <span class="text_sidebar">Configurações</span>
            </a></li>
            <li><a href="{{ url_for('gestor.gestor_view') }}">
                <span class="icon"><img src="/static/images/icons/logout.svg" alt="logout Icon"></span>
                <span class="text_sidebar">Sair</span>
            </a></li>
        </ul>
    </nav>
    
    <div class="fundo-container">
        <form action="/configuracoes" method="POST">
            <div class="container">
                <div class="cards">
                    <a href="{{ url_for('configuracoes_usuario.configuracoes_usuario_view') }}" class="card" id="usuario">
                        <h2>Configurar Usuários</h2>
                        <p>Cadastrar Usuários/Editar informações dos usuários criados</p>
                    </a>
                    <a  href="{{ url_for('configuracoes_gestor.configuracoes_gestor_view') }}" class="card" id="gestor">
                        <h2>Configurar Gestores</h2>
                        <p>Cadastrar Gestores/Editar informações dos gestores criados</p>
                    </a>
                </div>
            </div>
        </form>    
    </div>
    <script src="/static/js/background.js"></script>
</body>
</html>
