<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulsa Supply</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/main_dash_config.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="icon" type="image/x-icon" href="/static/images/logos/fav_logo.png">
    
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <img class="logo" src="/static/images/logos/logo_completa.svg">
        </div>
        <ul class="navbar-menu">
            <li><a href="{{ url_for('pagina_inicial.pagina_inicial_view', lang=session.get('lang', 'pt')) }}">{{_("Responder")}}</a></li>
            <li><a href="{{ url_for('gestor.gestor_view', lang=session.get('lang', 'pt')) }}"class="active">{{_("Gestor")}}</a></li>
        </ul>
        <div class="navbar-lang">
            <form method="GET" action="{{ url_for('dashboard_sugestoes.dashboard_sugestoes_view', lang=session.get('lang', 'pt')) }}">
                <div class="dropdown">
                    <label for="lang">{{_("Idioma:")}}</label>
                    <button class="dropdown-btn">
                        <img src="/static/images/flags/{{ session.get('lang', 'pt') }}.png" alt="Idioma Selecionado" class="selected-flag">
                    </button>
                    <div class="dropdown-content">
                        <button type="submit" class="lang-option" name="lang" value="pt">
                            <img src="/static/images/flags/pt.png" alt="Português">
                        </button>
                        <button type="submit" class="lang-option" name="lang" value="es">
                            <img src="/static/images/flags/es.png" alt="Español">
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <div id="loading-spinner-global" class="spinner">
        <div class="loader"></div>
        <p class="loading-text">{{_("Buscando seus dados")}}</p>
    </div>   
    <nav class="sidebar">
        <ul class="sidebar-menu">
            <li><a href="{{ url_for('dashboard.dashboard_view', lang=session.get('lang', 'pt')) }}">
                <span class="icon"><img src="/static/images/icons/time.svg" alt="Dashboard Icon"></span>
                <span class="text_sidebar">{{_("Time")}}</span>
            </a></li>
            <li><a href="{{ url_for('dashboard_area.dashboard_area_view', lang=session.get('lang', 'pt')) }}">
                <span class="icon"><img src="/static/images/icons/area.svg" alt="Dashboard Icon"></span>
                <span class="text_sidebar">{{_("Área")}}</span>
            </a></li>
            <li><a href="{{ url_for('dashboard_lideres.dashboard_lideres_view', lang=session.get('lang', 'pt')) }}">
                <span class="icon"><img src="/static/images/icons/lideranca.svg" alt="Sugestoes Icon"></span>
                <span class="text_sidebar">{{_("Líderes")}}</span>
            </a></li>
            <li class="active"><a href="{{ url_for('dashboard_sugestoes.dashboard_sugestoes_view', lang=session.get('lang', 'pt')) }}">
                <span class="icon"><img src="/static/images/icons/sugestoes.svg" alt="Sugestoes Icon"></span>
                <span class="text_sidebar">{{_("Sugestões")}}</span>
            </a></li>
            {% if perfil == 'administrador' or perfil == 'administrador_geral' %}
                <li><a href="{{ url_for('configuracoes.configuracoes_view', lang=session.get('lang', 'pt')) }}">
                    <span class="icon"><img src="/static/images/icons/configuracoes.svg" alt="configuracoes Icon"></span>
                    <span class="text_sidebar">{{_("Configurações")}}</span>
                </a></li>
            {% endif %}
                <li><a href="{{ url_for('gestor.gestor_view', lang=session.get('lang', 'pt')) }}">
                    <span class="icon"><img src="/static/images/icons/logout.svg" alt="logout Icon"></span>
                    <span class="text_sidebar">{{_("Sair")}}</span>
                </a></li>
        </ul>
    </nav>
    
    
    <div class="fundo-container">
        <div class="container">
            <div class="introbar">
                <div class="introbar-text">
                    <span><h2>{{_("Olá,")}} {{dados_gestor.nome}}! {{_("Aqui estão suas sugestões:")}}</h2></span>
                </div>
                <div class="filtro-sugestoes">
                    <button id="timeFiltro" class="btn-time active">
                        <img src="/static/images/icons/time.svg">{{_("Time")}}
                    </button>
                    <button id="areaFiltro" class="btn-area">
                        <img src="/static/images/icons/area.svg">{{_("Área")}}
                    </button>
                </div>
            </div>
            <div class="table-container">
                <div>
                    {% if sugestoes %}
                        <table>
                            <thead>
                                <tr>
                                    <th>{{_('Data')}}</th>
                                    <th>{{_('Gestor')}}</th>
                                    <th>{{_('Categoria')}}</th>
                                    <th>{{_('Pergunta')}}</th>
                                    <th>{{_('Sugestão')}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in sugestoes %}
                                <tr>
                                    <td>{{ row[1]}}</td>
                                    <td>{{ row[2] }}</td>
                                    <td>{{ row[3] }}</td>
                                    {% if row[4] != None %}
                                        <td>{{ row[4] }}</td>
                                    {% else %}
                                        <td>{{_("Sugestão enviada diretamente")}}</td>
                                    {% endif %}
                                    <td>{{ row[5] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>{{_("Não há sugestões disponíveis no momento ou o seu time tem menos que 3 colaboradores.")}}</p>
                    {% endif %}
                </div> 
            </div>   
        </div>
    </div>
    
    <script src="/static/js/background.js"></script>
    <link href="/static/css/datatables.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/datatables.js"></script>
    <script>
        $(document).ready(function() {
            $('table').DataTable({

                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "scrollX": false,
                "language": {
                    "lengthMenu": "{{_('Mostrar')}} _MENU_ {{('sugestões por página')}}",
                    "zeroRecords": "{{_('Nenhuma sugestão encontrada para o filtro definido')}}",
                    "info": "{{_('Mostrando')}} _START_ {{_('a')}} _END_ {{_('de')}} _TOTAL_ {{_('sugestões totais')}}",
                    "infoEmpty": "{{_('Mostrando 0 a 0 de 0 sugestões')}}",
                    "infoFiltered": "{{_('filtrado de')}} _MAX_ {{_('sugestões totais')}}",
                    "search": "{{_('Pesquisar:')}} ",
                },
                "dom": '<"top"fl>rt<"bottom"ip><"clear">',
                "columns": [
                    { "width": "10%",
                       "render": function(data, type, row) { 
                            var parts = data.split('-'); 
                            var day = parts[0]; 
                            var month = parts[1]; 
                            var year = parts[2]; 
                            if (type === 'display' || type === 'filter') { // Exibir no formato dd/mm/aa 
                                return day + '/' + month + '/' + year; 
                            } // Para ordenação, convertemos para o formato ISO yyyy-mm-dd 
                            
                            var fullYear = '20' + year; 
                            return fullYear + '-' + month + '-' + day; 
                        }
                    },
                    { "width": "10%" },  // Definindo a largura da primeira coluna
                    { "width": "15%" },  // Segunda coluna
                    { "width": "20%" },  // Terceira coluna
                    { "width": "35%" }   // Quarta coluna
                ]
            });
        });
    </script>
    <script>
        document.querySelectorAll('.sidebar-menu a').forEach(link => {
            link.addEventListener('click', function(event) {
                document.getElementById('loading-spinner-global').style.display = 'flex';
            });
        });

        window.addEventListener('load', function() {
            document.getElementById('loading-spinner-global').style.display = 'none';
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Configura os botões
            const timeButton = document.getElementById('timeFiltro');
            const areaButton = document.getElementById('areaFiltro');
    
            // Função para alternar a classe 'active'
            function setActiveButton(button) {
                // Remove 'active' de todos os botões
                document.querySelectorAll('.filtro-sugestoes button').forEach(btn => {
                    btn.classList.remove('active');
                });
    
                // Adiciona 'active' ao botão clicado
                button.classList.add('active');
            }
    
            // Verifica o parâmetro 'filtro' na URL
            const urlParams = new URLSearchParams(window.location.search);
            const filtro = urlParams.get('filtro');
    
            if (filtro === 'area') {
                setActiveButton(areaButton); // Define Área como ativo
            } else {
                setActiveButton(timeButton); // Define Time como ativo (padrão)
            }
    
            // Adiciona o evento de clique ao botão Time
            timeButton.addEventListener('click', function (event) {
                event.preventDefault();
                document.getElementById('loading-spinner-global').style.display = 'flex';
                setActiveButton(this); // Define Time como ativo
                window.location.href = `/dashboard_sugestoes`; // Redireciona sem filtro
            });
    
            // Adiciona o evento de clique ao botão Área
            areaButton.addEventListener('click', function (event) {
                event.preventDefault();
                document.getElementById('loading-spinner-global').style.display = 'flex';
                setActiveButton(this); // Define Área como ativo
                window.location.href = `/dashboard_sugestoes?filtro=area`; // Redireciona com filtro 'area'
            });
        });    
    </script>  
</body>
</html>
