<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulsa Supply</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/main_dash_config.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="icon" type="image/x-icon" href="/static/images/logos/fav_logo.png">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/selectize.min.js"></script>
    <link src="/static/css/selectize.css"></link>
    <link src="/static/css/selectize.default.css"></link>
    
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <img class="logo" src="/static/images/logos/logo_completa.svg">
        </div>
        <ul class="navbar-menu">
            <li><a href="{{ url_for('pagina_inicial.pagina_inicial_view',lang=session.get('lang', 'pt')) }}">{{_("Responder")}}</a></li>
            <li><a href="{{ url_for('gestor.gestor_view',lang=session.get('lang', 'pt')) }}"class="active">{{_("Gestor")}}</a></li>
        </ul>
        <div class="navbar-lang">
            <form method="GET" action="{{ url_for('dashboard_area.dashboard_area_view', lang=session.get('lang', 'pt')) }}">
                <div class="dropdown">
                    <label for="lang">{{_("Idioma:")}}</label>
                    <button class="dropdown-btn">
                        <img src="/static/images/flags/{{ session.get('lang', 'pt') }}.png" alt="Idioma Selecionado" class="selected-flag">
                    </button>
                    <div class="dropdown-content">
                        <button type="submit" class="lang-option" name="lang" value="pt">
                            <img src="/static/images/flags/pt.png" alt="Português">
                        </button>
                        <button type="submit" class="lang-option" name="lang" value="es">
                            <img src="/static/images/flags/es.png" alt="Español">
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <div id="loading-spinner-global" class="spinner">
        <div class="loader"></div>
        <p class="loading-text">{{_("Buscando seus dados")}}</p>
    </div>   
    <nav class="sidebar">
        <ul class="sidebar-menu">
            <li><a href="{{ url_for('dashboard.dashboard_view', lang=session.get('lang', 'pt')) }}">
                <span class="icon"><img src="/static/images/icons/time.svg" alt="Dashboard Icon"></span>
                <span class="text_sidebar">{{_("Time")}}</span>
            </a></li>
            <li class="active"><a href="{{ url_for('dashboard_area.dashboard_area_view', lang=session.get('lang', 'pt')) }}">
                <span class="icon"><img src="/static/images/icons/area.svg" alt="Dashboard Icon"></span>
                <span class="text_sidebar">{{_("Área")}}</span>
            </a></li>
            <li><a href="{{ url_for('dashboard_lideres.dashboard_lideres_view',lang=session.get('lang', 'pt')) }}">
                <span class="icon"><img src="/static/images/icons/lideranca.svg" alt="Sugestoes Icon"></span>
                <span class="text_sidebar">{{_("Líderes")}}</span>
            </a></li>
            <li><a href="{{ url_for('dashboard_sugestoes.dashboard_sugestoes_view', lang=session.get('lang', 'pt')) }}">
                <span class="icon"><img src="/static/images/icons/sugestoes.svg" alt="Sugestoes Icon"></span>
                <span class="text_sidebar">{{_("Sugestões")}}</span>
            </a></li>
            {% if perfil == 'administrador' or perfil == 'administrador_geral' %}
                <li><a href="{{ url_for('configuracoes.configuracoes_view', lang=session.get('lang', 'pt')) }}">
                    <span class="icon"><img src="/static/images/icons/configuracoes.svg" alt="configuracoes Icon"></span>
                    <span class="text_sidebar">{{_("Configurações")}}</span>
                </a></li>
            {% endif %}
                <li><a href="{{ url_for('gestor.gestor_view', lang=session.get('lang', 'pt')) }}">
                    <span class="icon"><img src="/static/images/icons/logout.svg" alt="logout Icon"></span>
                    <span class="text_sidebar">{{_("Sair")}}</span>
                </a></li>
        </ul>
    </nav>
    
    <div class="fundo-container">
        <div class="container">
            <div class="introbar">
                <div class="introbar-text">
                    <span><h2>{{_("Olá,")}} {{dados.nome}}! {{_("Esse é o resultado da sua área.")}}</h2></span>
                    <span class="small-text">
                        {{_("Seu percentual de promotores está baseado em")}} {{dados.card1.qtd_respostas}} {{_("perguntas respondidas por")}} {{dados.card1.respondentes_unicos}} {{_("respondentes únicos entre os dias")}} {{dados.card1.data_min}} {{_("e")}} {{dados.card1.data_max}}.
                        {{_("O seu time têm ")}} {{dados.tamanho_time}} {{_(" colaboradores atualmente.")}}
                        <button id="verTime" class="btn-time" onclick="modalTime()">{{_("Ver Time")}}</button>
                    </span>
                </div>
                <div class="filtro-container">
                    <div class="filtro-container-intervalo">
                        <label for="intervalos">{{_("Selecione o intervalo da pesquisa:")}}</label>
                        <select id="intervalos" name="intervalos[]" multiple="multiple">
                            {% for intervalo in intervalos %}
                            <option value="{{ intervalo }}">{{ intervalo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="filtro-actions">
                        <button id="limparFiltro" class="btn-limpar">{{_("Limpar")}}</button>
                        <button id="aplicarFiltro" class="btn-aplicar">{{_("Aplicar Filtro")}}</button>
                    </div>
                </div>
            </div>
                <div class="dashboard-container">
                    <div class="main-grafico">
                        <div class="chart-container">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
                <span><h2>{{_("Dimensões:")}}</h2></span>
                <div class="dimensions-container">
                    <div class="container-cards detalhado dimension-card">
                        {% for card in cards %}
                        <div class="card card-detalhe" id="card-{{ card.id }}" onclick="modalPerguntas('{{ card.id }}')">
                            <div class="card-header-detalhe">
                                {% if card.id == 1 %}
                                    <img class="icon" src="/static/images/icons/clima.svg" alt="Engagment">
                                {% elif card.id == 2 %}
                                    <img class="icon" src="/static/images/icons/lideranca.svg" alt="Eficácia Gestor">
                                {% elif card.id == 3 %}
                                    <img class="icon" src="/static/images/icons/funcoes.svg" alt="Funções Desempenhadas">
                                {% elif card.id == 4 %}
                                    <img class="icon" src="/static/images/icons/carreira.svg" alt="Carreira">
                                {% elif card.id == 5 %}
                                    <img class="icon" src="/static/images/icons/ambiente.svg" alt="Ambiente">
                                {% elif card.id == 6 %}
                                    <img class="icon" src="/static/images/icons/salario.svg" alt="Salário e Benefícios">
                                {% elif card.id == 7 %}
                                    <img class="icon" src="/static/images/icons/feedback.svg" alt="Feedback e Reconhecimento">
                                {% elif card.id == 8 %}
                                    <img class="icon" src="/static/images/icons/comunicacao.svg" alt="Comunicação e Colaboração">
                                {% elif card.id == 9 %}
                                    <img class="icon" src="/static/images/icons/servicos.svg" alt="Serviços Gerais">
                                {% elif card.id == 10 %}
                                    <img class="icon" src="/static/images/icons/seguranca.svg" alt="Segurança Psicológica">
                                {% elif card.id == 11 %}
                                    <img class="icon" src="/static/images/icons/nps_pulsa.svg" alt="Pulsa Supply">
                                {% endif %}
                                <h4>{{ card.title }}</h4>
                            </div>
                            <div class="card-content-detalhe">
                                <div class="progress-bar-container-detalhe">
                                    <div class="progress-bar-bg-detalhe">
                                        <div class="progress-fill" data-nota="{{ card.value }}" data-size="{{ card.size }}"></div>
                                    </div>
                                </div>
                                <div class="progress-data-detalhe">
                                    {% if card.value != None %}
                                        <span>{{ card.value }}</span>
                                    {% else %}
                                        <span>-</span>
                                    {% endif %}
                                </div>
                                <div class="progress-data-detalhe">%</div>
                            </div>
                            
                            <div class="card-info-detalhe">
                                <div class="info-item-detalhe">
                                    <img class="icon-small" src="/static/images/icons/respostas.svg" alt="Icone Respostas">
                                    <p>{{ card.qtd_respostas }} {{_("perguntas respondidas")}}</p>
                                </div>
                                <div class="info-item-detalhe">
                                    <img class="icon-small" src="/static/images/icons/sugestoes.svg" alt="Icone Respostas">
                                    <p>{{ card.qtd_sugestoes }} {{_("sugestões recebidas")}}</p>
                                </div>
                                <div class="info-item-detalhe">
                                    <img class="icon-small" src="/static/images/icons/calendario.svg" alt="Icone Calendario">
                                    {% if card.data_min != None %}
                                        <p>{{ card.data_min }} e {{ card.data_max }}</p>
                                    {% else %}
                                        <p>-</p>
                                    {% endif %}
                                </div>
                            </div>
                            
                        </div>
                        {% else %}
                            <span>{{_("Sem dimensões para mostrar")}}</span>
                        {% endfor %}
                    </div>
                </div>
        </div>
        <div id="modalPerguntas" class="modal">
            <div class="modal-content">
                <span class="close" onclick="fecharModal()">&times;</span>
                <div class="modal-header"></div>
                <div id="loading-spinner" class="spinner">
                    <div class="loader"></div>
                    <p class="loading-text">{{_("Buscando seus dados")}}</p>
                </div>        
                <div id="modal-body" class="modal-body">
                    <!-- Os cards das perguntas serão adicionados aqui via JavaScript -->
                </div>
            </div>
        </div>
        <div id="modalTime" class="modal-time">
            <div class="modal-content-time">
                <div class="modal-header-time"><h2>{{_("Esse é o seu time atualmente:")}}</h2><span class="close" onclick="fecharModalTime()">&times;</span></div>
                <div class="modal-body-time">
                    <table>
                        <thead>
                            <tr>
                                <th>{{_("GlobalID")}}</th>
                                <th>{{_("Nome colaborador")}}</th>
                                <th>{{_("Gestor direto do colaborador")}}</th>
                            </tr>
                        </thead>
                        {% if ids_time %}
                            <tbody>
                                {% for id in ids_time %}
                                    <tr>
                                        <td>{{id[0]}}</td>
                                        <td>{{id[1]}}</td>
                                        <td>{{id[2]}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        {% else %}
                            <p>{{_("Não há time para ser exibido")}}</p>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/background.js"></script>
    <script src="/static/js/chart.umd.js"></script>
    <script src="/static/js/chartjs-plugin-datalabels.js"></script>
    
    <script>//Carrega barras
        document.addEventListener('DOMContentLoaded', function() {
            
            // Seleciona tanto .progress-fill quanto .progress-fill-modal
            const progressBars = document.querySelectorAll('.progress-fill, .progress-fill-modal');
            console.log(progressBars)
            progressBars.forEach(function(bar) {

                const nota = parseFloat(bar.getAttribute('data-nota'));
                const tamanho = bar.getAttribute('data-size'); // Valor do tamanho da barra

                // Aplica a cor baseada na nota
                bar.style.backgroundColor = calcularCorNota(nota);

                // Adiciona um pequeno atraso para garantir que a animação comece corretamente
                setTimeout(function() {
                    bar.style.width = tamanho + '%'; // Atribui a largura final para "encher" a barra
                }, 10); // Atraso mínimo para permitir que o navegador processe a transição
            });
        });

        function calcularCorNota(nota) {
            if (nota < 4) {
                return '#FE4A49';  // Vermelho para notas menores que 4
            } else if (nota < 9) {
                return '#F7B801';  // Amarelo para notas entre 4 e 8.9
            } else {
                return '#2AC96A';  // Verde para notas maiores ou iguais a 9
            }
        }

    </script>
    <script>//Gera gráfico geral
        Chart.register(ChartDataLabels);
        function calcularCorNota(nota) {
                if (nota < 4) {
                    return '#FE4A49';  // Vermelho para notas menores que 4
                } else if (nota < 9) {
                    return '#FEC10B';  // Amarelo para notas entre 4 e 7.9
                } else {
                    return '#2AC96A';  // Verde para notas maiores ou iguais a 8
                }
            }

        function calcularCorAderencia(aderencia) {
                if (aderencia < 40) {
                    return '#FE4A49';  // Vermelho para notas menores que 4
                } else if (aderencia < 90) {
                    return '#FEC10B';  // Amarelo para notas entre 4 e 7.9
                } else {
                    return '#2AC96A';  // Verde para notas maiores ou iguais a 8
                }
            }
        function renderChart(chartId, labels, notas, aderencia) {
            var ctx = document.getElementById(chartId).getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar', // O tipo principal será 'bar'
                data: {
                    labels: labels,  // Semanas do ano
                    datasets: [
                        {
                            type: 'bar',  // Define a 'nota' como gráfico de linha
                            label: '{{_("Percentual Promotores")}}',
                            data: notas,  // Notas para cada semana
                            backgroundColor: '#52d17a',
                            borderColor: '#52d17a',
                            borderWidth: 2,
                            yAxisID: 'y',  // Associado ao primeiro eixo y
                            fill: false,  // Não preencher a área abaixo da linha
                            datalabels: {
                                align: 'top',
                                anchor: 'start',
                                color: '#000'
                            }
                        },
                        {
                            type: 'bar',  // Define a 'aderência' como gráfico de barras
                            label: '{{_("Percentual Aderência")}}',
                            data: aderencia,  // Aderência para cada semana
                            backgroundColor: '#fbb259',
                            borderColor: '#fbb259',
                            borderWidth: 1,
                            yAxisID: 'y1',  // Associado ao segundo eixo y
                            datalabels: {
                                align: 'top',
                                anchor: 'start',
                                color: '#000'
                            }
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        datalabels: {
                            display: true  // Garante que o data label seja exibido
                        }
                    },
                    scales: {
                        x: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: '{{_("Semanas do Ano")}}'
                            }
                        },
                        y: {
                            beginAtZero: true,
                            max: 100,  // Define o limite para a nota média
                            title: {
                                display: true,
                                text: '{{_("Percentual Promotores")}}'
                            }
                        },
                        y1: {
                            beginAtZero: true,
                            max: 100,  // Define o limite para a aderência
                            position: 'right',  // Exibe o segundo eixo y à direita
                            grid: {
                                drawOnChartArea: false  // Remove linhas de grade para evitar confusão visual
                            },
                            title: {
                                display: true,
                                text: '{{_("Percentual Aderência")}}'
                            }
                        }
                    }
                }
            });
        }
    </script>
    <script> //Gera gráfico de detalhes
        var grafico = {{ grafico | tojson }}
        renderChart('myChart', grafico[0].semanas, grafico[0].notas, grafico[0].aderencia);
    </script>
    <script>//Gera modal de detalhes
        function modalPerguntas(cardId) {
        document.getElementById('modalPerguntas').style.display = 'block';
        document.getElementById('loading-spinner').style.display = 'flex';
        document.getElementById('modal-body').innerHTML = ''; // Limpa o conteúdo anterior do modal
        
        var intervalosSelecionados = $('#intervalos').val();
        var url = `/dashboard_area/detalhes-categoria:${cardId}`;
        
        // Verifica se há intervalos selecionados e, se sim, adiciona o parâmetro `intervalos` na URL
        if (intervalosSelecionados && intervalosSelecionados.length > 0) {
            url += `?intervalos=${encodeURIComponent(JSON.stringify(intervalosSelecionados))}`;
        }

        // Realiza a requisição para obter os dados do card
        fetch(url)
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                } else {
                    const modalBody = document.getElementById('modal-body');
                    modalBody.innerHTML = '';  // Limpa o conteúdo do modal
                    
                    document.getElementById('loading-spinner').style.display = 'none';

                    // Exibe as informações da categoria antes dos detalhes das perguntas
                    const chartId = `myChart-categoria-${data.categoria.id_categoria}`
                    const categoria = document.createElement('div');
                    categoria.classList.add('categoria-info');
                    categoria.innerHTML = 
                        `<div class="modal-card-title">
                            <span><h2>{{_("Categoria:")}} ${data.categoria.descricao} </h2></span>
                        </div>
                        <div class="card-center-modal">
                            <div class="chart-container-modal">
                                <canvas id="${chartId}"></canvas>
                            </div>
                        </div>
                        <span><h2>Perguntas:</h2></span>`
                    ;
                    modalBody.appendChild(categoria);

                    // Renderiza o gráfico da categoria
                    renderChartSingleAxis(chartId, data.categoria.semanas, data.categoria.notas);

                    // Itera sobre cada pergunta e cria um card para ela
                    data.perguntas.forEach(pergunta => {
                        const chartId = `myChart-${pergunta.id}`;
                        const card = document.createElement('div');
                        card.classList.add('card-modal');

                        card.innerHTML = `
                            <div class="card-content-modal">
                                <div class="card-left-modal">
                                    <div class="card-header-modal">
                                        <h4>${pergunta.title}</h4>
                                    </div>

                                    <div class="progress-bar-modal">
                                        <div class="progress-bar-container-modal">
                                            <div class="progress-bar-bg-modal">
                                                <div class="progress-fill-modal" data-nota=${pergunta.value} data-size=${pergunta.size}></div>
                                            </div>
                                        </div>
                                        <div class="progress-data-modal">
                                            <span>${pergunta.value || '-'}</span>
                                        </div>
                                        <div class="progress-data-modal">%</div>
                                    </div>

                                    <div class="card-info-modal">
                                        <div class="info-item">
                                            <img class="icon-small" src="/static/images/icons/respostas.svg" alt="Icone Respostas">
                                            <p>${pergunta.qtd_respostas} {{_("perguntas respondidas")}}</p>
                                        </div>
                                        <div class="info-item-detalhe">
                                            <img class="icon-small" src="/static/images/icons/sugestoes.svg" alt="Icone Respostas">
                                            <p>${pergunta.qtd_sugestoes} {{_("sugestões recebidas")}}</p>
                                        </div>
                                        <div class="info-item">
                                            <img class="icon-small" src="/static/images/icons/calendario.svg" alt="Icone Calendario">
                                            <p>${pergunta.data_min || '-'} e ${pergunta.data_max || '-'}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-right-modal">
                                    <div class="chart-container-modal">
                                        <canvas id="${chartId}"></canvas>
                                    </div>
                                </div>
                            </div>
                        `;
                        modalBody.appendChild(card);

                        // Renderiza o gráfico para cada pergunta
                        renderChartSingleAxis(chartId, pergunta.semanas, pergunta.notas);
                    });

                    // Exibe o modal
                    document.getElementById('modalPerguntas').style.display = 'block';
                    setTimeout(animateProgressBars, 100);
                }
            })
            .catch(error => {
                console.error('Erro ao buscar os dados do card:', error);
                alert('Erro ao buscar os dados do card. Entre em contato com o suporte.');
            });
        }

        function animateProgressBars() {
            // Seleciona todas as barras de progresso no modal
            const progressBarsModal = document.querySelectorAll('.progress-fill-modal');

            progressBarsModal.forEach(function(bar) {
                const nota = parseFloat(bar.getAttribute('data-nota'));
                const tamanho = bar.getAttribute('data-size');

                // Aplica a cor baseada na nota
                bar.style.backgroundColor = calcularCorNota(nota);

                // Inicia a animação
                bar.style.width = tamanho + '%'; // Define a largura final
            });
}

        function fecharModal() {
            document.getElementById('modalPerguntas').style.display = 'none';
        }
    </script>
    <script> //Função que gera o gráfico de detalhes
        function renderChartSingleAxis(chartId, labels, notas) {
            var ctx = document.getElementById(chartId).getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,  // Semanas do ano
                    datasets: [
                        {
                            label: '{{_("Pecentual Promotores")}}',
                            data: notas,  // Notas para cada semana
                            backgroundColor: '#52d17a',
                            borderColor: '#52d17a',
                            borderWidth: 1,
                            yAxisID: 'y',  // Apenas o primeiro eixo y
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: '{{_("Pesquisa")}}'
                            }
                        },
                        y: {
                            beginAtZero: true,
                            min: 0,
                            max: 100,  // Define o limite para a nota média
                            title: {
                                display: true,
                                text: '{{_("Percentual Promotores")}}'
                            }
                        }
                    }
                }
            });
        }
    </script>
    <script>
        $(document).ready(function() {
            // Inicializando o Selectize com configurações dinâmicas
            var $select = $('#intervalos').selectize({
                plugins: ['remove_button'],
                placeholder: '{{_("Selecione os intervalos de datas...")}}',
                closeAfterSelect: false,
                maxItems: null,
                hideSelected: true,
                create: function(input) {
                    return { value: input, text: input };
                }
            });

            var selectize = $select[0].selectize;

            // Define os intervalos selecionados como valores iniciais
            var intervalosSelecionados = {{ intervalos_selecionados | tojson }};
            intervalosSelecionados.forEach(function(intervalo) {
                selectize.addOption({ value: intervalo, text: intervalo });
                selectize.addItem(intervalo);
        });

        // Função para aplicar o filtro ao clicar no botão
        $('#aplicarFiltro').click(function(event) {
            event.preventDefault();
            document.getElementById('loading-spinner-global').style.display = 'flex';
            // Captura os intervalos selecionados
            var intervalosSelecionados = $('#intervalos').val();
            
            if (intervalosSelecionados && intervalosSelecionados.length > 0) {
                // Codifica o array como uma string JSON para enviá-lo como parâmetro
                const intervalosJSON = encodeURIComponent(JSON.stringify(intervalosSelecionados));
                window.location.href = `/dashboard_area?intervalos=${intervalosJSON}`;
            } else {
                alert("{{_('Por favor, selecione ao menos um intervalo.')}}");
            }
        });

        // Função para limpar as seleções ao clicar no botão "Limpar"
        $('#limparFiltro').click(function() {
            document.getElementById('loading-spinner-global').style.display = 'flex';
            var selectize = $('#intervalos')[0].selectize;
            selectize.clear();          // Limpa as seleções
            $('#resultados').empty();   // Limpa a área de resultados
            window.location.href = `/dashboard_area`
        });
    });
    </script>
    <script>
        document.querySelectorAll('.sidebar-menu a').forEach(link => {
            link.addEventListener('click', function(event) {
                document.getElementById('loading-spinner-global').style.display = 'flex';
            });
        });

        window.addEventListener('load', function() {
            document.getElementById('loading-spinner-global').style.display = 'none';
        });
    </script>
    <script>
        function modalTime() {
            var modal = document.getElementById('modalTime');
            var spinner = document.getElementById('loading-spinner');
            var modalBody = document.getElementById('modal-body-time');
            
            // Exibe o modal
            modal.style.display = 'block';
            
            // Simula o carregamento de dados
            setTimeout(function() {
                spinner.style.display = 'none';
            }, 2000);
        }
        
        function fecharModalTime() {
            var modal = document.getElementById('modalTime');
            var spinner = document.getElementById('loading-spinner');
            var modalBody = document.getElementById('modal-body-time');
            
            // Oculta o modal e reseta o spinner e conteúdo
            modal.style.display = 'none';
            spinner.style.display = 'block';
            modalBody.innerHTML = '';
        }
        
        // Fechar o modal clicando fora dele
        window.onclick = function(event) {
            var modal = document.getElementById('modalTime');
            if (event.target == modal) {
                fecharModalTime();
            }
        }
    </script>   
</body>
</html>
