<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulsa Supply</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/main_dash_config.css">
    <link rel="stylesheet" href="/static/css/dashboard_gestores.css">
    <link rel="icon" type="image/x-icon" href="/static/images/logos/fav_logo.png">
    
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <img class="logo" src="/static/images/logos/logo_completa.svg">
        </div>
        <ul class="navbar-menu">
            <li><a href="{{ url_for('pagina_inicial.pagina_inicial_view') }}">Responder</a></li>
            <li><a href="{{ url_for('gestor.gestor_view') }}"class="active">Gestor</a></li>
        </ul>
    </nav>
    <nav class="sidebar">
        <ul class="sidebar-menu">
            <li><a href="{{ url_for('dashboard.dashboard_view') }}">
                <span class="icon"><img src="/static/images/icons/time.svg" alt="Dashboard Icon"></span>
                <span class="text_sidebar">Time</span>
            </a></li>
            <li><a href="{{ url_for('dashboard.dashboard_view') }}">
                <span class="icon"><img src="/static/images/icons/area.svg" alt="Dashboard Icon"></span>
                <span class="text_sidebar">Área</span>
            </a></li>
            <li class="active"><a href="{{ url_for('dashboard_gestores.dashboard_gestores_view') }}">
                <span class="icon"><img src="/static/images/icons/gestores.svg" alt="Dashboard Icon"></span>
                <span class="text_sidebar">Gestores</span>
            </a></li>
            <li><a href="{{ url_for('dashboard_sugestoes.dashboard_sugestoes_view') }}">
                <span class="icon"><img src="/static/images/icons/sugestoes.svg" alt="Dashboard Icon"></span>
                <span class="text_sidebar">Sugestões</span>
            </a></li>
            {% if perfil == 'administrador' %}
                <li><a href="{{ url_for('configuracoes.configuracoes_view') }}">
                    <span class="icon"><img src="/static/images/icons/configuracoes.svg" alt="configuracoes Icon"></span>
                    <span class="text_sidebar">Configurações</span>
                </a></li>
            {% endif %}
                <li><a href="{{ url_for('gestor.gestor_view') }}">
                    <span class="icon"><img src="/static/images/icons/logout.svg" alt="logout Icon"></span>
                    <span class="text_sidebar">Sair</span>
                </a></li>
        </ul>
    </nav>
    
    <div class="fundo-container">
        <div class="container">
            <div class="introbar">
                <div class="introbar-text">
                    <span><h2>Olá, {{dados_gestor.nome}}! Aqui está o resultado dos seus liderados:</h2></span>
                </div>
            </div> 
            <div class="cards-container">
                {% if cards_gestores %}
                    {% for card in cards_gestores %}
                    <div class="card-gestor" id = 'card-{{ card.id }}'>
                        
                            <div class="card-info">
                                <div class="card-header">
                                    <h4>{{ card.nome_gestor }}</h4>
                                </div>
                                <div class="info-item">
                                    <img class="icon-small" src="/static/images/icons/respostas.svg" alt="Icone Respostas">
                                    <p>{{ card.qtd_respostas }} perguntas respondidas</p>
                                </div>
                                <div class="info-item">
                                    <img class="icon-small" src="/static/images/icons/respostas.svg" alt="Icone Respostas">
                                    <p>{{ card.qtd_sugestoes }} sugestões recebidas</p>
                                </div>
                                <div class="info-item">
                                    <img class="icon-small" src="/static/images/icons/respostas.svg" alt="Icone Respostas">
                                    <p>{{ card.qtd_sugestoes }} sugestões recebidas</p>
                                </div>
                            </div>
                            <div class="card-gestor-body">
                                {% for categoria in card.categorias %}
                                    <div class="card-categoria" id=card-categoria-{{categoria[0]}}>
                                        <div class="card-header-detalhe" >
                                            {% if categoria[0] == 1 %}
                                                <img class="icon" src="/static/images/icons/clima.svg" alt="Engagment">
                                            {% elif categoria[0] == 2 %}
                                                <img class="icon" src="/static/images/icons/lideranca.svg" alt="Eficácia Gestor">
                                            {% elif categoria[0] == 3 %}
                                                <img class="icon" src="/static/images/icons/funcoes.svg" alt="Funções Desempenhadas">
                                            {% elif categoria[0] == 4 %}
                                                <img class="icon" src="/static/images/icons/carreira.svg" alt="Carreira">
                                            {% elif categoria[0] == 5 %}
                                                <img class="icon" src="/static/images/icons/ambiente.svg" alt="Ambiente">
                                            {% elif categoria[0] == 6 %}
                                                <img class="icon" src="/static/images/icons/salario.svg" alt="Salário e Benefícios">
                                            {% elif categoria[0] == 7 %}
                                                <img class="icon" src="/static/images/icons/feedback.svg" alt="Feedback e Reconhecimento">
                                            {% elif categoria[0] == 8 %}
                                                <img class="icon" src="/static/images/icons/comunicacao.svg" alt="Comunicação e Colaboração">
                                            {% elif categoria[0] == 9 %}
                                                <img class="icon" src="/static/images/icons/servicos.svg" alt="Serviços Gerais">
                                            {% elif categoria[0] == 10 %}
                                                <img class="icon" src="/static/images/icons/seguranca.svg" alt="Segurança Psicológica">
                                            {% elif categoria[0] == 11 %}
                                                <img class="icon" src="/static/images/icons/nps_pulsa.svg" alt="Pulsa Supply">
                                            {% endif %}
                                            <h4>{{ categoria[1] }}</h4>
                                        </div>
                                        <div class="card-content-detalhe">
                                            <div class="progress-bar-container-detalhe">
                                                <div class="progress-bar-bg-detalhe">
                                                    <div class="progress-fill" data-nota="{{ categoria[3] }}" data-size="{{ categoria[3]*10 }}"></div>
                                                </div>
                                            </div>
                                            <div class="progress-data-detalhe">
                                                {% if categoria[2] != None %}
                                                    <span>{{ categoria[2] }}</span>
                                                {% else %}
                                                    <span>-</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>Não há dados disponíveis no momento ou você não tem um time de liderados para analisar.</p>
                {% endif %}
            </div>
    
    <script src="/static/js/background.js"></script>
    <script>//Carrega barras
        document.addEventListener('DOMContentLoaded', function() {
            
            // Seleciona tanto .progress-fill quanto .progress-fill-modal
            const progressBars = document.querySelectorAll('.progress-fill, .progress-fill-modal');
            console.log(progressBars)
            progressBars.forEach(function(bar) {

                const nota = parseFloat(bar.getAttribute('data-nota'));
                const tamanho = bar.getAttribute('data-size'); // Valor do tamanho da barra

                // Aplica a cor baseada na nota
                bar.style.backgroundColor = calcularCorNota(nota);

                // Adiciona um pequeno atraso para garantir que a animação comece corretamente
                setTimeout(function() {
                    bar.style.width = tamanho + '%'; // Atribui a largura final para "encher" a barra
                }, 10); // Atraso mínimo para permitir que o navegador processe a transição
            });
        });

        function calcularCorNota(nota) {
            if (nota < 4) {
                return '#FE4A49';  // Vermelho para notas menores que 4
            } else if (nota < 9) {
                return '#F7B801';  // Amarelo para notas entre 4 e 8.9
            } else {
                return '#2AC96A';  // Verde para notas maiores ou iguais a 9
            }
        }

    </script>
</body>
</html>
