<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulsa Supply</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/main_dash_config.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="icon" type="image/x-icon" href="/static/images/logos/fav_logo.png">
    
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <img class="logo" src="/static/images/logos/logo_completa.svg">
        </div>
        <ul class="navbar-menu">
            <li><a href="{{ url_for('pagina_inicial.pagina_inicial_view') }}">Responder</a></li>
            <li><a href="{{ url_for('gestor.gestor_view') }}"class="active">Gestor</a></li>
        </ul>
    </nav>
    <nav class="sidebar">
        <ul class="sidebar-menu">
            <li class="active"><a href="{{ url_for('dashboard.dashboard_view') }}">
                <span class="icon"><img src="/static/images/icons/dashboard.svg" alt="Dashboard Icon"></span>
                <span class="text_sidebar">Dashboard</span>
            </a></li>
            {% if perfil == 'administrador' %}
                <li><a href="{{ url_for('configuracoes.configuracoes_view') }}">
                    <span class="icon"><img src="/static/images/icons/configuracoes.svg" alt="configuracoes Icon"></span>
                    <span class="text_sidebar">Configurações</span>
                </a></li>
            {% endif %}
                <li><a href="{{ url_for('gestor.gestor_view') }}">
                    <span class="icon"><img src="/static/images/icons/logout.svg" alt="logout Icon"></span>
                    <span class="text_sidebar">Sair</span>
                </a></li>
        </ul>
    </nav>
    
    <div class="fundo-container">
        <div class="container">
            <div class="introbar">
                <div class="introbar-text">
                    <span><h2>Olá, {{dados[0].nome}}! Esse é o resultado do seu time.</h2></span>
                    <span class="small-text">Sua nota está baseada em {{dados[0].qtd_respostas}} respostas, entre os dias {{dados[0].data_min}} e {{dados[0].data_max}}.</span>
                </div>
            </div>
                <div class="dashboard-container">
                    <div class="main-cards">
                        <div class="card card-principal geral">
                            <div class="card-header">
                                <img class="icon" src="/static/images/icons/nota_geral.svg" alt="Icone Nota Geral">
                                <h4>Nota Geral:</h4>
                            </div>
                            <div class="card-content">
                                <div class="progress-bar-container">
                                    <div class="progress-bar-bg">
                                        <div class="progress-fill" style="width: {{ dados[0].size_bar }}%;"></div>
                                    </div>
                                </div>
                                <div class="progress-data">
                                    {% if dados[0].nota_media != None %}
                                        <span>{{ dados[0].nota_media }}</span>
                                    {% else %}
                                        <span>-</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-info">
                                <div class="info-item">
                                    <img class="icon-small" src="/static/images/icons/respostas.svg" alt="Icone Respostas">
                                    <p>{{ dados[0].qtd_respostas }} respostas</p>
                                </div>
                                <div class="info-item">
                                    <img class="icon-small" src="/static/images/icons/calendario.svg" alt="Icone Calendario">
                                    <p>{{ dados[0].data_min }} e {{ dados[0].data_max }}</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card card-principal nps">
                            <div class="card-header">
                                <img class="icon" src="/static/images/icons/nps.svg" alt="Icone NPS">
                                <h4>NPS:</h4>
                            </div>
                            <div class="card-content">
                                <div class="progress-bar-container">
                                    <div class="progress-bar-bg">
                                        <div class="progress-fill" style="width: {{ dados[0].size_bar_nps }}%;"></div>
                                    </div>
                                </div>
                                <div class="progress-data">
                                    {% if dados[0].nota_media_nps != None %}
                                        <span>{{ dados[0].nota_media_nps }}</span>
                                    {% else %}
                                        <span>-</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-info">
                                <div class="info-item">
                                    <img class="icon-small" src="/static/images/icons/respostas.svg" alt="Icone Respostas">
                                    <p>{{ dados[0].qtd_respostas_nps }} respostas</p>
                                </div>
                                <div class="info-item">
                                    <img class="icon-small" src="/static/images/icons/calendario.svg" alt="Icone Calendario">
                                    <p>{{ dados[0].data_min_nps }} e {{ dados[0].data_max_nps }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="card card-principal eficacia">
                            <div class="card-header">
                                <img class="icon" src="/static/images/icons/nps_pulsa.svg" alt="Icone Eficácia Gestor">
                                <h4>Pulsa Supply:</h4>
                            </div>
                            <div class="card-content">
                                <div class="progress-bar-container">
                                    <div class="progress-bar-bg">
                                        <div class="progress-fill" style="width: {{ dados[0].size_bar_eficacia }}%;"></div>
                                    </div>
                                </div>
                                <div class="progress-data">
                                    {% if dados[0].nota_media_eficacia != None %}
                                        <span>{{ dados[0].nota_media_eficacia }}</span>
                                    {% else %}
                                        <span> - </span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-info">
                                <div class="info-item">
                                    <img class="icon-small" src="/static/images/icons/respostas.svg" alt="Icone Respostas">
                                    <p> {{ dados[0].qtd_respostas_eficacia }} respostas</p>
                                </div>
                                <div class="info-item">
                                    <img class="icon-small" src="/static/images/icons/calendario.svg" alt="Icone Calendario">
                                    <p>{{ dados[0].data_min_eficacia }} e {{ dados[0].data_max_eficacia }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-grafico">
                        <div class="chart-container">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
                <span><h2>Dimensões:</h2></span>
                <div class="dimensions-container">
                    <div class="container-cards detalhado dimension-card">
                        {% for card in cards %}
                        <div class="card card-detalhe" id="card-{{ card.id }}" onclick="modalPerguntas('{{ card.id }}')">
                            <div class="card-header-detalhe">
                                {% if card.id == 1 %}
                                    <img class="icon" src="/static/images/icons/clima.svg" alt="Engagment">
                                {% elif card.id == 2 %}
                                    <img class="icon" src="/static/images/icons/lideranca.svg" alt="Eficácia Gestor">
                                {% elif card.id == 3 %}
                                    <img class="icon" src="/static/images/icons/funcoes.svg" alt="Funções Desempenhadas">
                                {% elif card.id == 4 %}
                                    <img class="icon" src="/static/images/icons/carreira.svg" alt="Carreira">
                                {% elif card.id == 5 %}
                                    <img class="icon" src="/static/images/icons/ambiente.svg" alt="Ambiente">
                                {% elif card.id == 6 %}
                                    <img class="icon" src="/static/images/icons/salario.svg" alt="Salário e Benefícios">
                                {% elif card.id == 7 %}
                                    <img class="icon" src="/static/images/icons/feedback.svg" alt="Feedback e Reconhecimento">
                                {% elif card.id == 8 %}
                                    <img class="icon" src="/static/images/icons/comunicacao.svg" alt="Comunicação e Colaboração">
                                {% elif card.id == 9 %}
                                    <img class="icon" src="/static/images/icons/servicos.svg" alt="Serviços Gerais">
                                {% elif card.id == 10 %}
                                    <img class="icon" src="/static/images/icons/seguranca.svg" alt="Segurança Psicológica">
                                {% elif card.id == 11 %}
                                    <img class="icon" src="/static/images/icons/nps_pulsa.svg" alt="Pulsa Supply">
                                {% endif %}
                                <h4>{{ card.title }}</h4>
                            </div>
                            <div class="card-content-detalhe">
                                <div class="progress-bar-container-detalhe">
                                    <div class="progress-bar-bg-detalhe">
                                        <div class="progress-fill" style="width: {{ card.size }}%;"></div>
                                    </div>
                                </div>
                                <div class="progress-data-detalhe">
                                    {% if card.value != None %}
                                        <span>{{ card.value }}</span>
                                    {% else %}
                                        <span>-</span>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="card-info-detalhe">
                                <div class="info-item-detalhe">
                                    <img class="icon-small" src="/static/images/icons/respostas.svg" alt="Icone Respostas">
                                    <p>{{ card.qtd_respostas }} respostas</p>
                                </div>
                                <div class="info-item-detalhe">
                                    <img class="icon-small" src="/static/images/icons/calendario.svg" alt="Icone Calendario">
                                    {% if card.data_min != None %}
                                        <p>{{ card.data_min }} e {{ card.data_max }}</p>
                                    {% else %}
                                        <p>-</p>
                                    {% endif %}
                                </div>
                            </div>
                            
                        </div>
                        {% else %}
                            <span>Sem dimensões para mostrar</span>
                        {% endfor %}
                    </div>
                </div>
        </div>
        <div id="modalPerguntas" class="modal">
            <div class="modal-content">
                <span class="close" onclick="fecharModal()">&times;</span>
                <div class="modal-header">
                    <h4 id="modal-card-title">Detalhes da Categoria</h4>
                </div>
                <div id="modal-body" class="modal-body">
                    <!-- Os cards das perguntas serão adicionados aqui via JavaScript -->
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/background.js"></script>
    <script src="/static/js/chart.umd.js"></script>
    <script src="/static/js/chartjs-plugin-datalabels.js"></script>
    <script>

        Chart.register(ChartDataLabels);
        function renderChart(chartId, labels, notas, aderencia) {
            var ctx = document.getElementById(chartId).getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar', // O tipo principal será 'bar'
                data: {
                    labels: labels,  // Semanas do ano
                    datasets: [
                        {
                            type: 'line',  // Define a 'nota' como gráfico de linha
                            label: 'Nota média',
                            data: notas,  // Notas para cada semana
                            backgroundColor: 'rgba(54, 162, 235, 0.5)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 2,
                            yAxisID: 'y',  // Associado ao primeiro eixo y
                            fill: false,  // Não preencher a área abaixo da linha
                            datalabels: {
                                align: 'top',
                                anchor: 'end',
                                color: '#000',  // Cor da label para a nota
                                formatter: function(value) {
                                    return value.toFixed(1);  // Exibe o valor com uma casa decimal
                                }
                            }
                        },
                        {
                            type: 'bar',  // Define a 'aderência' como gráfico de barras
                            label: 'Aderência',
                            data: aderencia,  // Aderência para cada semana
                            backgroundColor: 'rgba(255, 99, 132, 0.5)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1,
                            yAxisID: 'y1',  // Associado ao segundo eixo y
                            datalabels: {
                                align: 'top',
                                anchor: 'end',
                                color: '#000',  // Cor da label para a aderência
                                formatter: function(value) {
                                    return value.toFixed(1) + '%';  // Exibe o valor com uma casa decimal e o símbolo de porcentagem
                                }
                            }
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        datalabels: {
                            display: true  // Garante que o data label seja exibido
                        }
                    },
                    scales: {
                        x: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Semanas do Ano'
                            }
                        },
                        y: {
                            beginAtZero: true,
                            max: 10,  // Define o limite para a nota média
                            title: {
                                display: true,
                                text: 'Nota Média'
                            }
                        },
                        y1: {
                            beginAtZero: true,
                            max: 100,  // Define o limite para a aderência
                            position: 'right',  // Exibe o segundo eixo y à direita
                            grid: {
                                drawOnChartArea: false  // Remove linhas de grade para evitar confusão visual
                            },
                            title: {
                                display: true,
                                text: 'Aderência (%)'
                            }
                        }
                    }
                }
            });
        }
    </script>
    <script>
        var grafico = {{grafico | tojson}}
        renderChart('myChart', grafico[0].semanas, grafico[0].notas, grafico[0].aderencia);
    </script>
    <script>//Gera modal de detalhes
        function modalPerguntas(cardId) {
            fetch(`/dashboard/detalhes-categoria:${cardId}`)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                    } else {
                        // Limpa o conteúdo do modal antes de adicionar novos cards
                        const modalBody = document.getElementById('modal-body');
                        modalBody.innerHTML = '';

                        // Itera sobre cada pergunta e cria um card para ela
                        data.forEach(pergunta => {
                            const chartId = `myChart-${pergunta.id}`; // Usando pergunta.id para um ID único
                            const card = document.createElement('div');
                            card.classList.add('card-modal');

                            card.innerHTML = `
                                <div class="card-header-modal">
                                    <h4>${pergunta.title}</h4>
                                </div>
                                <div class="card-content-modal">
                                    <div class="card-content-modal-data">
                                        <div class="progress-bar">
                                            <div class="progress-bar-container-modal">
                                                <div class="progress-bar-bg">
                                                    <div class="progress-fill" style="width: ${pergunta.size}%;"></div>
                                                </div>
                                            </div>
                                            <div class="progress-data">
                                                <span>${pergunta.value}</span>
                                            </div>
                                        </div>
                                        <div class="card-info-modal">
                                            <div class="info-item">
                                                <img class="icon-small" src="/static/images/icons/respostas.svg" alt="Icone Respostas">
                                                <p>${pergunta.qtd_respostas} respostas</p>
                                            </div>
                                            <div class="info-item">
                                                <img class="icon-small" src="/static/images/icons/calendario.svg" alt="Icone Calendario">
                                                <p>${pergunta.data_min || '-'} e ${pergunta.data_max || '-'}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-grafico-modal">
                                        <div class="chart-container">
                                            <canvas id="${chartId}"></canvas>
                                        </div>
                                    </div>
                                    
                                </div>
                            `;
                            modalBody.appendChild(card);

                            // Renderiza o gráfico para cada pergunta
                            renderChartSingleAxis(chartId, pergunta.semanas, pergunta.notas);
                        });

                        // Exibe o modal
                        document.getElementById('modalPerguntas').style.display = 'block';
                    }
                })
                .catch(error => {
                    console.error('Erro ao buscar os dados do card:', error);
                    alert('Erro ao buscar os dados do card. Tente novamente.');
                });
        }

        function fecharModal() {
            document.getElementById('modalPerguntas').style.display = 'none';
        }
    </script>
    <script>
        function renderChartSingleAxis(chartId, labels, notas) {
            var ctx = document.getElementById(chartId).getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,  // Semanas do ano
                    datasets: [
                        {
                            label: 'Nota média',
                            data: notas,  // Notas para cada semana
                            backgroundColor: 'rgba(54, 162, 235, 0.5)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1,
                            yAxisID: 'y',  // Apenas o primeiro eixo y
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Semanas do Ano'
                            }
                        },
                        y: {
                            beginAtZero: true,
                            max: 10,  // Define o limite para a nota média
                            title: {
                                display: true,
                                text: 'Nota Média'
                            }
                        }
                    }
                }
            });
        }
    </script>

</body>
</html>
