<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulsa Supply</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/main_dash_config.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="icon" type="image/x-icon" href="/static/images/logos/fav_logo.png">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/selectize.min.js"></script>
    <link src="/static/css/selectize.css"></link>
    <link src="/static/css/selectize.default.css"></link>
    
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <img class="logo" src="/static/images/logos/logo_completa.svg">
        </div>
        <ul class="navbar-menu">
            <li><a href="{{ url_for('pagina_inicial.pagina_inicial_view', lang=session.get('lang', 'pt')) }}">Responder</a></li>
            <li><a href="{{ url_for('gestor.gestor_view', lang=session.get('lang', 'pt')) }}"class="active">Gestor</a></li>
        </ul>
        <div class="navbar-lang">
            <form method="GET" action="{{ url_for('dashboard_lideres.dashboard_lideres_view', lang=session.get('lang', 'pt')) }}">
                <div class="dropdown">
                    <label for="lang">Idioma:</label>
                    <button class="dropdown-btn">
                        <img src="/static/images/flags/{{ session.get('lang', 'pt') }}.png" alt="Idioma Selecionado" class="selected-flag">
                    </button>
                    <div class="dropdown-content">
                        <button type="submit" class="lang-option" name="lang" value="pt">
                            <img src="/static/images/flags/pt.png" alt="Português">
                        </button>
                        <button type="submit" class="lang-option" name="lang" value="es">
                            <img src="/static/images/flags/es.png" alt="Español">
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <div id="loading-spinner-global" class="spinner">
        <div class="loader"></div>
        <p class="loading-text">Buscando seus dados</p>
    </div>   
    <nav class="sidebar">
        <ul class="sidebar-menu">
            <li><a href="{{ url_for('dashboard.dashboard_view', lang=session.get('lang', 'pt')) }}">
                <span class="icon"><img src="/static/images/icons/time.svg" alt="Dashboard Icon"></span>
                <span class="text_sidebar">Time</span>
            </a></li>
            <li><a href="{{ url_for('dashboard_area.dashboard_area_view', lang=session.get('lang', 'pt')) }}">
                <span class="icon"><img src="/static/images/icons/area.svg" alt="Dashboard Icon"></span>
                <span class="text_sidebar">Área</span>
            </a></li>
            <li class="active"><a href="{{ url_for('dashboard_lideres.dashboard_lideres_view', lang=session.get('lang', 'pt')) }}">
                <span class="icon"><img src="/static/images/icons/lideranca.svg" alt="Sugestoes Icon"></span>
                <span class="text_sidebar">Líderes</span>
            </a></li>
            <li><a href="{{ url_for('dashboard_sugestoes.dashboard_sugestoes_view', lang=session.get('lang', 'pt')) }}">
                <span class="icon"><img src="/static/images/icons/sugestoes.svg" alt="Sugestoes Icon"></span>
                <span class="text_sidebar">Sugestões</span>
            </a></li>
            {% if perfil == 'administrador' %}
                <li><a href="{{ url_for('configuracoes.configuracoes_view', lang=session.get('lang', 'pt')) }}">
                    <span class="icon"><img src="/static/images/icons/configuracoes.svg" alt="configuracoes Icon"></span>
                    <span class="text_sidebar">Configurações</span>
                </a></li>
            {% endif %}
                <li><a href="{{ url_for('gestor.gestor_view', lang=session.get('lang', 'pt')) }}">
                    <span class="icon"><img src="/static/images/icons/logout.svg" alt="logout Icon"></span>
                    <span class="text_sidebar">Sair</span>
                </a></li>
        </ul>
    </nav>
    
    <div class="fundo-container">
        <div class="container">
            <div class="introbar">
                <div class="introbar-text">
                    <span><h2>Olá, {{dados.nome}}! Aqui estão o resultado dos seus liderados:</h2></span>
                    <span class="small-text">Esse é seu resultado de promotores por gestor.</span>
                </div>
                <div class="filtro-container">
                    <div class="filtro-container-intervalo">
                        <label for="intervalos">Selecione o intervalo da pesquisa:</label>
                        <select id="intervalos" name="intervalos[]" multiple="multiple">
                            {% for intervalo in intervalos %}
                            <option value="{{ intervalo }}">{{ intervalo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="filtro-actions">
                        <button id="limparFiltro" class="btn-limpar">Limpar</button>
                        <button id="aplicarFiltro" class="btn-aplicar">Aplicar Filtro</button>
                    </div>
                </div>
            </div>
            <div class="table-container">
                <div>
                    {% if dados_gestores %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Gestor</th>
                                    <th>Resultado Geral</th>
                                    <th>Engagement</th>
                                    <th>Eficácia do Gestor</th>
                                    <th>Funções Desempenhadas</th>
                                    <th>Plano de Carreira</th>
                                    <th>Ambiente e Ferramentas</th>
                                    <th>Salários e Benefícios</th>
                                    <th>Feedback e Reconhecimento</th>
                                    <th>Comunicação e Colaboração</th>
                                    <th>Serviços Gerais</th>
                                    <th>Segurança Psicológica</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dados in dados_gestores %}
                                <tr id="gestor-{{dados[0]}}">
                                    <td>
                                        {% if dados[1] != None %}
                                            {{ dados[1] }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td data="{{ dados[2] }}">
                                        {% if dados[2] != None %}
                                            {{ dados[2] }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td data="{{ dados[3] }}">
                                        {% if dados[3] != None %}
                                            {{ dados[3] }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td data="{{ dados[4] }}">
                                        {% if dados[4] != None %}
                                            {{ dados[4] }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td data="{{ dados[5] }}">
                                        {% if dados[5] != None %}
                                            {{ dados[5] }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td data="{{ dados[6] }}">
                                        {% if dados[6] != None %}
                                            {{ dados[6] }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td data="{{ dados[7] }}">
                                        {% if dados[7] != None %}
                                            {{ dados[7] }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td data="{{ dados[8] }}">
                                        {% if dados[8] != None %}
                                            {{ dados[8] }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td data="{{ dados[9] }}">
                                        {% if dados[9] != None %}
                                            {{ dados[9] }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td data="{{ dados[10] }}">
                                        {% if dados[10] != None %}
                                            {{ dados[10] }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td data="{{ dados[11] }}">
                                        {% if dados[11] != None %}
                                            {{ dados[11] }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td data="{{ dados[12] }}">
                                        {% if dados[12] != None %}
                                            {{ dados[12] }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Não há dados disponíveis no momento ou você não tem um time de liderados para analisar.</p>
                    {% endif %}
                </div>                
        </div>        
    </div>
    <script src="/static/js/background.js"></script>
    <script src="/static/js/chart.umd.js"></script>
    <link href="/static/css/datatables.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/datatables.js"></script>
    <script>
        $(document).ready(function() {
            // Inicializando o Selectize com configurações dinâmicas
            var $select = $('#intervalos').selectize({
                plugins: ['remove_button'],
                placeholder: 'Selecione os intervalos de datas...',
                closeAfterSelect: false,
                maxItems: null,
                hideSelected: true,
                create: function(input) {
                    return { value: input, text: input };
                }
            });

            var selectize = $select[0].selectize;

            // Define os intervalos selecionados como valores iniciais
            var intervalosSelecionados = {{ intervalos_selecionados | tojson }};
            intervalosSelecionados.forEach(function(intervalo) {
                selectize.addOption({ value: intervalo, text: intervalo });
                selectize.addItem(intervalo);
        });

        // Função para aplicar o filtro ao clicar no botão
        $('#aplicarFiltro').click(function(event) {
            event.preventDefault();
            document.getElementById('loading-spinner-global').style.display = 'flex';
            // Captura os intervalos selecionados
            var intervalosSelecionados = $('#intervalos').val();
            
            if (intervalosSelecionados && intervalosSelecionados.length > 0) {
                // Codifica o array como uma string JSON para enviá-lo como parâmetro
                const intervalosJSON = encodeURIComponent(JSON.stringify(intervalosSelecionados));
                window.location.href = `/dashboard_lideres?intervalos=${intervalosJSON}`;
            } else {
                alert("Por favor, selecione ao menos um intervalo.");
                document.getElementById('loading-spinner-global').style.display = 'none';
            }
        });

        // Função para limpar as seleções ao clicar no botão "Limpar"
        $('#limparFiltro').click(function() {
            var selectize = $('#intervalos')[0].selectize;
            selectize.clear();          // Limpa as seleções
            document.getElementById('loading-spinner-global').style.display = 'flex';
            $('#resultados').empty();   // Limpa a área de resultados
            window.location.href = `/dashboard_lideres`
        });
    });
    </script>
    <script>
        document.querySelectorAll('.sidebar-menu a').forEach(link => {
            link.addEventListener('click', function(event) {
                document.getElementById('loading-spinner-global').style.display = 'flex';
            });
        });

        window.addEventListener('load', function() {
            document.getElementById('loading-spinner-global').style.display = 'none';
        });
    </script>
    <script>
    $(document).ready(function() {
        $('table').DataTable({
            "paging": false,
            "searching": true,
            "ordering": true,
            "info": false,
            "scrollX": false,
            "scrollY": false,
            "language": {
                "lengthMenu": "Mostrar _MENU_ sugestões por página",
                "zeroRecords": "Nenhuma sugestão encontrada para o filtro definido",
                "search": "Pesquisar: ",
            },
            "dom": '<"top"fl>rt<"bottom"ip><"clear">'
        });
    });
    </script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {

        // Seleciona todos os <td> que têm o atributo data-nota
        const tableCells = document.querySelectorAll('td[data]');
        
        tableCells.forEach(function(cell) {
            // Obtém o valor do atributo data-nota
            const nota = parseFloat(cell.getAttribute('data'));
            
            // Aplica a cor baseada na nota
            cell.style.backgroundColor = calcularCorNota(nota);
        });
    });

    function calcularCorNota(nota) {
        if (nota <= 20) {
            return '#FE4A49';
        } else if (nota <= 40) {
            return '#FF8679';
        } else if (nota <= 60) {
            return '#FED766';
        } else if (nota <= 80) {
            return '#7bda94';
        } else if (nota > 80){
            return '#2AC96A'; 
        } else {
            return '#fff'
        }
    }
    </script>
</body>
</html>
